<div id="left-col">
<a href="<?php echo $this->url(array('controller' => 'youth-sports','action'=>'index','module'=>'default'), 'default', true);?>">Youth Sports</a> &gt;&gt; 
	<a href="<?php echo $this->url(array('controller'=>'youth-sports','action'=>'state','module'=>'default','statename'=> $this->state['state_name']), 'youthSportsstate_name', true);?>"><?php echo $this->state['state_name'] ?> Youth Sport Clubs</a> &gt;&gt; 
	<?php echo ucwords(strtolower($this->cities['city'])) ?> After School Sports<br/>
	<h2><?php echo ucwords(strtolower($this->cities['city'])) ?> After School Youth Sport Clubs</h2><br/>
	
	<p>Below are after school youth sports available in <?php echo ucwords(strtolower($this->cities['city'])) ?>.</p>
	<?php foreach ($this->activities as $activities): ?>


    <a href="<?php echo $this->url(array('controller'=>'youth-sports','action'=>'detail','module'=>'default','id'=> $activities['id'],'filename'=> $activities['filename']),'YouthSportsdetails','escape',false, true);?>"><?php echo $activities['name'] ?></a> - <?php echo $activities['address'] . ", " . $activities['city'] . " " . $activities['state'] . " - " . $activities['phone'] ?> <br/>

    
		<!--<a href="/sportclub-<?php echo $activities['id'] . "-" . $activities['filename']?>.html"><?php echo $activities['name'] ?></a> - <?php echo $activities['address'] . ", " . $activities['city'] . " " . $activities['state'] . " - " . $activities['phone'] ?> <br/>-->
	
    	<?php if($activities['details'] <> "") :?>
			<strong>Details</strong>: <?php echo substr(strip_tags($activities['details']),0,240)?>...<a href="<?php echo $this->url(array('controller'=>'youth-sports','action'=>'detail','module'=>'default','id'=> $activities['id'],'filename'=> $activities['filename']),'YouthSportsdetails','escape',false, true);?>">more</a><br/>
		<?php endif;?><br/>
	<?php endforeach;?>
	 
</div>
<div id="right-col">
 <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=childcarecenter"></script>
<!-- AddThis Button END --><br/>
	<div class="widget">
		<script type="text/javascript"><!--
		google_ad_client = "pub-8651736830870146";
		/* 160x600, wide skyscraper created 2/13/10 */
		google_ad_slot = "3476733769";
		google_ad_width = 160;
		google_ad_height = 600;
		//-->
		</script> 
		<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>

</div>
