
			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">User</a>
					</li>
				</ul>
				<hr>
			</div>

     
			<div class="row-fluid sortable">		
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="icon-user"></i><span class="break"></span><?php echo $this->translate('ADMIN_LABEL_USER'); ?></h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th> <?php echo $this->translate('ADMIN_LABEL_REGISTRATION_FIRST_NAME'); ?> </th>
								  <th> <?php echo $this->translate('ADMIN_LABEL_REGISTRATION_EMAIL'); ?> </th>
                                  <th> <?php echo $this->translate('ADMIN_LABEL_REGISTRATION_OPTION'); ?> </th>
								  <th> <?php echo $this->translate('ADMIN_LABEL_REGISTRATION_STATUS'); ?> </th>
								  <th>Actions</th>
							  </tr>
						  </thead>   
						  <tbody>
                        
                        
                        
                     <?php  if(count($this->arrDataList) < 1) : ?>
                               
                                <?php else: ?>    
							<?php foreach ( $this->arrDataList as $data ): ?>
							
							<tr>
								<td><?php echo ($data->first_name);?></td>
								<td class="center"><?php echo ($data->email);?></td>
          						<td class="center"><?php echo $this->translate($this->escape($data->user_option)==1?'ADMIN_LABEL_USER_OPTION_LANDLORD':'ADMIN_LABEL_USER_OPTION_TENANT');?></td>
								<td class="center">
                                <?php if($data->user_status == 1) { ?>
									<a href="<?php echo $this->url(array('controller'=>'user','action'=>'changestatus','module'=>'admin','id'=>$data->user_id), null, true);?>"><span class="label label-success"><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_ACTIVE'); ?></span></a>
                                  <?php }else {?>
                                    <a href="<?php echo $this->url(array('controller'=>'user','action'=>'changestatus','module'=>'admin','id'=>$data->user_id), null, true);?>"><span class="label"><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_INACTIVE'); ?></span></a>
                                    <?php } ?>
								</td>
								<td class="center">
                                 <a class="btn btn-info" href="<?php echo $this->url(array('controller'=>'user','action'=>'userdetails','module'=>'admin','id'=>$data->user_id), null, true);?>">
										<i class="icon-edit icon-white"></i>  
									</a>
									<a class="btn btn-danger" href="<?php echo $this->url(array('controller'=>'user','action'=>'delete','module'=>'admin','id'=>$data->user_id), null, true);?>">
										<i class="icon-trash icon-white"></i> 
									</a>
								</td>
							</tr>
                            <?php
							endforeach;
							 endif; ?>
						  </tbody>
					  </table> 
                                 
					</div>
				</div><!--/span-->
			
			</div><!--/row-->

					<hr>
			<!-- end: Content -->
			