<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Userdetails</a>
					</li>
				</ul>
				<hr>
			</div>

<?php

		global $arrUserStatus;
		global $arrUsersOption;
		
?>
<table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
  <tbody>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_CREATED');?></td>
      <td><?php echo $this->arrDataList['dcreated'];?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_LANDLORDSTEP1_MODIFIED');?></td>
      <td><?php echo $this->arrDataList['dmodified'];?></td>
    </tr>
 
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_FIRST_NAME');?></td>
      <td><?php echo $this->arrDataList['first_name'];?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_LAST_NAME');?></td>
      <td><?php echo $this->arrDataList['last_name']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_EMAIL');?></td>
      <td><?php echo $this->arrDataList['email']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_OPTION');?></td>
      <td><?php echo $arrUsersOption[$this->arrDataList['user_option']]; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_STATUS');?></td>
      <td><?php echo $arrUserStatus[$this->arrDataList['user_status']]; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_TYPE'); ?></td>
      <td><?php echo $this->arrDataList['user_type']; ?></td>
    </tr>
 </tbody>
</table>
	<div class="clr">&nbsp;</div>
<input type="hidden" id="id" name="id">

