<div id="left-col">
<a href="<?php echo $this->url(array('controller'=>'martial-arts','action'=>'index','module'=>'default'), 'default', true);?>">Martial Arts</a> &gt;&gt; 
	<a href="<?php echo $this->url(array('controller'=>'martial-arts','action'=>'state','module'=>'default','statename'=> $this->state['statefile']), 'martialartsstate_name', true);?>"><?php echo $this->state['state_name'] ?> Martial Art Schools</a> &gt;&gt; 
	<?php echo ucwords(strtolower($this->cities['city'])) ?> After School Martial Arts<br/>
	<h2><?php echo ucwords(strtolower($this->cities['city'])) ?> After School Martial Art Programs </h2><br/>
	
	<p>Below are after school martial arts available in <?php echo ucwords(strtolower($this->cities['city'])) ?>.</p>
	<div id="adcontainer1"></div>
	<script src="http://www.google.com/adsense/search/ads.js" type="text/javascript"></script> 
	<script type="text/javascript" charset="utf-8"> 
	var pageOptions = { 
	  'pubId': 'pub-8651736830870146',
	  'query': '<?php $randomString = array ("martial arts", "tae kwon do", "self defense","kids camp"); echo strtolower($this->cities['city']) . " " . $randomString[rand(0,3)]?>',
	  'channel': '7793110778',
	  'hl': 'en'
	};

	var adblock1 = { 
	  'container': 'adcontainer1',
	  'width': '420px',
	  'colorTitleLink': '215C97'
	};

	new google.ads.search.Ads(pageOptions, adblock1);
	</script>
	<?php foreach ($this->activities as $activities): ?>
    
    <a href="<?php echo $this->url(array('controller'=>'martial-arts','action'=>'detail','module'=>'default','id'=> $activities['id'],'filename'=> $activities['filename']),'martialArtsdetails','escape',false, true);?>"><?php echo $activities['name'] ?></a> - <?php echo $activities['address'] . ", " . $activities['city'] . " " . $activities['state'] . " - " . $activities['phone'] ?> <br/>
    
		<!--<a href="/activity-<?php echo $activities['id'] . "-" . $activities['filename']?>.html"><?php echo $activities['name'] ?></a> - <?php echo $activities['address'] . ", " . $activities['city'] . " " . $activities['state'] . " - " . $activities['phone'] ?> <br/>-->
		<?php if($activities['details'] <> "") :?>
			<strong>Details</strong>: <?php echo substr(strip_tags($activities['details']),0,240)?>...
            <a href="<?php echo $this->url(array('controller'=>'martial-arts','action'=>'detail','module'=>'default','id'=> $activities['id'],'filename'=> $activities['filename']),'martialArtsdetails','escape',false, true);?>">more</a><br />
            <!--<a href="/activity-<?php echo $activities['id'] . "-" . $activities['filename']?>.html">more</a><br/>-->
		<?php endif;?><br/>
	<?php endforeach;?>
	
</div>
<div id="right-col">
 <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=childcarecenter"></script>
<!-- AddThis Button END --><br/>
	<div class="widget">
		<script type="text/javascript"><!--
		google_ad_client = "pub-8651736830870146";
		/* 160x600, wide skyscraper created 2/13/10 */
		google_ad_slot = "3476733769";
		google_ad_width = 160;
		google_ad_height = 600;
		//-->
		</script> 
		<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>

</div>
