<div id="left-col">
<a href="<?php echo $this->url(array('controller'=>'martial-arts','action'=>'index','module'=>'default'), 'default', true);?>">Martial Arts</a> &gt;&gt; 
	<?php echo $this->state['state_name'] ?> Martial Art Schools <br/>
	<h2><?php echo $this->state['state_name'] ?> After School Martial Arts</h2>
	<p>Click on the city below for listings of martial art school in that city.</p>
	<table width="100%">
	<tr>
		<td nowrap>
		<?php $i = 0; $recordCount = ceil(count($this->cities)/3); foreach ($this->cities as $countyRow): ?>
		<?php /*_pr($countyRow,1);*/ $i++; if ($countyRow['activities_count'] > 0) : ?>
        
        <a href="<?php echo $this->url(
		array('controller'=>'martial-arts','action'=>'city','module'=>'default','statefile'=> $this->state['statefile'],'filename'=> $countyRow['filename'],'city'=> ucwords(strtolower($countyRow['city']))), 'martialartscity','escape',false, true);?>"><?php echo ucwords(strtolower($countyRow['city'])) ?></a> (<?php echo $countyRow['activities_count']?>)<br />
        
			<!--<a href="/<?php echo $this->state->statefile ?>-martial-arts/<?php echo $countyRow->filename ?>.html"><?php echo ucwords(strtolower($countyRow->city)) ?> </a> (<?php echo $countyRow->activities_count?>)<br />-->
            
   
            
		<?php endif; ?>
		<?php if ($i == $recordCount) : $i=0 ?>
		</td>
		<td valign="top">
		<?php endif;?>
		<?php endforeach;?>
		</td>
	</tr>
	</table>
	
	<h2>New addition to <?php echo $this->state['state_name'] ?> Martial Arts database: </h2>
	<table>
    <?php foreach ($this->activities as $facilityRow): ?>
     <tr >
      <td width="30%" valign="top">
      
      <a href="<?php echo $this->url(array('controller'=>'martial-arts','action'=>'detail','module'=>'default','id'=> $facilityRow['id'],'filename'=> $facilityRow['filename']),'martialArtsdetails','escape',false, true);?>"><?php echo $facilityRow['name'] ?></a> - <?php echo $facilityRow['address'] . ", " . $facilityRow['city'] . " " . $facilityRow['state'] . " - " . $facilityRow['phone'] ?> <br/>
      
         <!--<a href="/activity-<?php echo $facilityRow['id'] . "-" . $facilityRow['filename']?>.html"><?php echo $facilityRow['name'] ?></a> - <?php echo $facilityRow['address'] . ", " . $facilityRow['city'] . " " . $facilityRow['state'] . " - " . $facilityRow['phone'] ?> <br/> -->
      </td>
      <td valign="top">
         <?php echo substr(strip_tags($facilityRow['details']),0,240)?>...<a href="<?php echo $this->url(array('controller'=>'martial-arts','action'=>'detail','module'=>'default','id'=> $facilityRow['id'],'filename'=> $facilityRow['filename']),'martialArtsdetails','escape',false, true);?>">more</a>
      </td>
    </tr>
    <?php endforeach;?>
    </table>
</div>
<div id="right-col">
 <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=childcarecenter"></script>
<!-- AddThis Button END --><br/>
<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fafterschoolprograms&amp;width=300&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=155446947822305" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:258px;" allowTransparency="true"></iframe>
	<div class="widget">
		<script type="text/javascript"><!--
google_ad_client = "ca-pub-8651736830870146";
/* 300x250, created 6/6/11 */
google_ad_slot = "5507651968";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</div>

</div>
