<div class="span2 main-menu-span">
  <div class="nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li><a href="<?php echo $this->url(array('controller'=>'welcome','action'=>'index','module'=>'admin'), null, true);?>"><i class="icon-home icon-white"></i><span class="hidden-tablet"> <?php echo $this->translate('ADMIN_LABEL_WELCOME');?></span></a></li>
            <li><a href="<?php echo $this->url(array('controller'=>'user','action'=>'index','module'=>'admin'), null, true);?>"><i class="icon-edit icon-white"></i><span class="hidden-tablet"> <?php echo $this->translate('ADMIN_LABEL_USER');?></span></a></li>
      <li><a href="<?php echo $this->url(array('controller'=>'Afterschool','action'=>'activitydashboard','module'=>'admin'), null, true);?>"><i class="icon-edit icon-white"></i><span class="hidden-tablet"> <?php echo $this->translate('ADMIN_LABEL_ACTIVITY');?></span></a></li>
      <li><a href="<?php echo $this->url(array('controller'=>'Afterschool','action'=>'afterschooldashboard','module'=>'admin'), null, true);?>"><i class="icon-edit icon-white"></i><span class="hidden-tablet"> <?php echo $this->translate('ADMIN_LABEL_AFTERSCHOOL');?></span></a></li>
      <li><a href="<?php echo $this->url(array('controller'=>'Review','action'=>'reviewdashboard','module'=>'admin'), null, true);?>"><i class="icon-edit icon-white"></i><span class="hidden-tablet"> <?php echo $this->translate('ADMIN_LABEL_REVIEW');?></span></a></li>
    </ul>
  </div>
  <!--/.well --> 
</div>
