<div style="margin-top: 10px; margin-bottom: 10px; width: 50%; border-top: 3px solid #DDD; padding-top: 10px;">
        <div style="margin-top: 12px; float: left; font-size: 13px; font-weight: bold; color: #B0B0B0; width: 200px;">
            Have a Facebook account?
        </div>
        <div style="margin-top: 5px;">
        <a href="<?php echo $this->url(array('module'=>'default','controller'=>'user','action'=>'fblogin'), 'default', true)?>" style="cursor: pointer;" id="fbc-login-button">
         <img  name="login_link" id="login_link" src="<?php echo USER_IMAGES_PATH; ?>facebook_signin.png"  /></a>
        </div>
    </div>