	<script type="text/javascript"><!--
		google_ad_client = "pub-8651736830870146";
		/* 468x60, created 11/22/09 */
		google_ad_slot = "6624481538";
		google_ad_width = 468;
		google_ad_height = 60;
		//-->
	</script>
	<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
