Showing <?php echo $this->firstItemNumber;?>-<?php echo $this->lastItemNumber;?> of <?php echo $this->totalItemCount;?> results 


<?php if ($this->pageCount): ?>
<div class="paginationControl">
<!-- Previous page link -->
<?php if (isset($this->previous)): ?>
  <a class='prev' href="<?= $this->url(array('page' => $this->previous)); ?>"> <? echo $this->translate('LABEL_PAGING_PREVIOUS');?></a>
<?php else: ?>
   <span class='prev' > <? echo $this->translate('LABEL_PAGING_PREVIOUS');?></span>
<?php endif; ?>

<!-- Numbered page links -->
<?php foreach ($this->pagesInRange as $page): ?>
  <?php if ($page != $this->current): ?>
   <a href="<?php echo $this->url(array('page' => $page)); ?>"><?php echo $page; ?></a>
  <?php else: ?>
   <span class="active"> <?php echo $page; ?></span>
  <?php endif; ?>
<?php endforeach; ?>

<!-- Next page link -->
<?php if (isset($this->next)): ?>
  <a class="next" href="<?php echo $this->url(array('page' => $this->next)); ?>"> <?php echo $this->translate('LABEL_PAGING_NEXT');?></a>
<?php else: ?>
   <span class="next"><?php echo $this->translate('LABEL_PAGING_NEXT');?> </span>
<?php endif; ?>
</div>
<?php endif; ?>