<?php if(!empty($this->message)){ ?>
<?php if($this->messageType=='error'){?>

<div class="errormsg error"><?php echo $this->message?></div>
<?php }?>
<?php } ?>
<form class="form-horizontal" name="frmLogin" method="post" action="">
  <fieldset>
    <div class="input-prepend" title="Username"> <span class="add-on"><i class="icon-user"></i></span> <?php echo $this->objForm->username;?> </div>
    <!-- .field -->
    
    <div class="clearfix"></div>
    
    <div class="input-prepend" title="Password"> <span class="add-on"><i class="icon-lock"></i></span> <?php echo $this->objForm->password;?> </div>
    
    <div class="clearfix"></div>
    <!-- .field --> 
    
    <!--<div class="checkbox">
					<span class="label">&nbsp;</span>
					<div class=""><input name="remember" id="remember" class="checkbox" value="yes" type="checkbox" /> &nbsp;&nbsp;<label style="display: inline;" for="remember">Remember me on this computer</label></div>
				</div>--> <!-- .field -->
    
    <div class="button-login"> <?php echo $this->objForm->submit;?> </div>
    <!-- .field -->
    <div class="clearfix"></div>
  </fieldset>
</form>
