<div id="left-col">
  <h2>Find After School Programs</h2>
  <p>Welcome to After School Programs!  We are proud to be your one-stop shopping resource for after school programs of all kinds across the United States. Whether you are looking for after school childcare or summer camps, we are available to help you find a great selection to choose from.</p>
  <p>Finding reputable after school programs can be difficult, but with our easy search function, you can find plenty of options quickly.  Simply click on your state to see the many after school programs offered.  Then you can choose the locations most convenient to you within the state.  You'll be surprised at how many after school programs there are in your area!</p>
  <!--<p>We also make sure to offer a wide variety of after school programs with differing costs.  Don't let the cost of after school programs or the difficulty of finding them stop you from helping your children have the fun and exciting after school programs that they deserve.  Check out what's available in your area today!</p>
	-->
  <div align="center"> <?php echo $this->middlepartadsense; ?> <img src="<?php echo USER_IMAGES_PATH ?>usa-map.jpg" border="0" usemap="#usmap" alt="Map of After School Programs in the United States"/>
    <map name="usmap" id="usmap">
      <area shape="poly" coords="94,76,127,85,118,118,157,181,147,200,126,195,101,166,90,118,88,94" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'california'), 'state_name', true);?>" title="California After School Programs">
      <area shape="poly" coords="70,137,111,207,63,188,10,215,25,139,42,129" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'alaska'), 'state_name', true);?>" title="Alaska After School Programs">
      <area shape="poly" coords="151,92,95,76,111,31,119,41,140,45,161,48" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'oregon'), 'state_name', true);?>" title="Oregon After School Programs">
      <area shape="poly" coords="130,5,168,15,160,47,121,39,112,28,112,7" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'washington'), 'state_name', true);?>" title="Washington After School Programs">
      <area shape="poly" coords="154,173,161,162,176,97,150,93,128,87,120,117" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'nevada'), 'state_name', true);?>" title="Nevada After School Programs">
      <area shape="poly" coords="199,100,204,73,189,71,183,48,176,19,169,17,154,91" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'idaho'), 'state_name', true);?>" title="Idaho After School Programs">
      <area shape="poly" coords="177,99,198,102,197,113,214,116,207,160,165,152" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'utah'), 'state_name', true);?>" title="Utah After School Programs">
      <area shape="poly" coords="69,221,141,260,168,290,145,304,125,265,87,245,63,232" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'hawaii'), 'state_name', true);?>" title="Hawaii After School Programs">
      <area shape="poly" coords="165,155,206,162,196,222,180,221,150,201,161,182,158,174" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'arizona'), 'state_name', true);?>" title="Arizona After School Programs">
      <area shape="poly" coords="180,19,191,69,203,71,205,65,260,74,264,32" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'arizona'), 'state_name', true);?>" title="Montana After School Programs">
      <area shape="poly" coords="207,70,200,111,255,118,259,77" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'wyoming'), 'state_name', true);?>" title="Wyoming After School Programs">
      <area shape="poly" coords="216,117,273,123,269,165,210,159" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'colorado'), 'state_name', true);?>" title="Colorado After School Programs">
      <area shape="poly" coords="210,163,201,222,220,218,255,221,259,168" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'new_mexico'), 'state_name', true);?>" title="New Mexico After School Programs">
      <area shape="poly" coords="267,34,265,63,319,66,316,35" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'north_dakota'), 'state_name', true);?>" title="North Dakota After School Programs">
      <area shape="poly" coords="264,66,261,97,320,103,320,71" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'south_dakota'), 'state_name', true);?>" title="South Dakota After School Programs">
      <area shape="poly" coords="262,101,260,118,276,120,276,131,328,134,319,107" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'nebraska'), 'state_name', true);?>" title="Nebraska After School Programs">
      <area shape="poly" coords="275,135,273,165,336,168,331,137" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'kansas'), 'state_name', true);?>" title="Kansas After School Programs">
      <area shape="poly" coords="263,168,262,173,288,175,289,194,320,205,338,207,335,170" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'oklahoma'), 'state_name', true);?>" title="Oklahoma After School Programs">
      <area shape="poly" coords="262,175,287,177,287,196,322,208,341,210,347,238,343,252,320,265,309,279,311,292,288,276,265,248,252,255,237,238,224,222,258,224" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'texas'), 'state_name', true);?>" title="Texas After School Programs">
      <area shape="poly" coords="347,251,351,237,345,216,368,215,370,223,365,235,382,237,390,256" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'louisiana'), 'state_name', true);?>" title="Louisiana After School Programs">
      <area shape="poly" coords="319,35,323,72,323,95,364,95,352,82,355,64,358,54,373,45,336,34" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'minnesota'), 'state_name', true);?>" title="Minnesota After School Programs">
      <area shape="poly" coords="323,97,363,97,373,111,364,127,329,128,324,110" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'iowa'), 'state_name', true);?>" title="Iowa After School Programs">
      <area shape="poly" coords="337,132,361,131,385,168,381,178,376,175,339,175,336,143" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'missouri'), 'state_name', true);?>" title="Missouri After School Programs">
      <area shape="poly" coords="338,177,379,179,375,192,368,205,368,213,344,214,340,204" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'arkansas'), 'state_name', true);?>" title="Arkansas After School Programs">
      <area shape="poly" coords="372,59,387,50,419,61,433,83,438,95,432,108,404,111,404,82,395,71" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'michigan'), 'state_name', true);?>" title="Michigan After School Programs">
      <area shape="poly" coords="357,61,355,81,367,95,373,106,392,105,391,98,396,76,381,66,370,61" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'wisconsin'), 'state_name', true);?>" title="Wisconsin After School Programs">
      <area shape="poly" coords="374,108,393,108,396,116,398,147,394,157,392,165,385,166,365,131" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'illinois'), 'state_name', true);?>" title="Illinois After School Programs">
      <area shape="poly" coords="398,116,403,113,418,112,422,143,412,153,396,156,401,147" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'indiana'), 'state_name', true);?>" title="Indiana After School Programs">
      <area shape="poly" coords="420,112,431,110,438,113,452,105,456,120,444,144,423,140" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'ohio'), 'state_name', true);?>" title="Ohio After School Programs">
      <area shape="poly" coords="385,173,440,166,448,157,441,145,425,143,415,156,396,159" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'kentucky'), 'state_name', true);?>" title="Kentucky After School Programs">
      <area shape="poly" coords="379,190,431,186,453,166,384,175" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'tennessee'), 'state_name', true);?>" title="Tennessee After School Programs">
      <area shape="poly" coords="376,193,396,191,398,240,387,243,385,236,368,234,374,223,371,207" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'mississippi'), 'state_name', true);?>" title="Mississippi After School Programs">
      <area shape="poly" coords="399,192,419,190,429,232,406,234,406,241,400,241" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'alabama'), 'state_name', true);?>" title="Alabama After School Programs">
      <area shape="poly" coords="407,235,429,233,432,236,464,233,485,274,483,292,463,273,455,251,444,242,429,245,416,240,408,240" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'florida'), 'state_name', true);?>" title="Florida After School Programs">
      <area shape="poly" coords="422,189,442,187,467,216,462,231,433,235" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'georgia'), 'state_name', true);?>" title="Georgia After School Programs">
      <area shape="poly" coords="455,166,504,157,511,169,488,191,476,182,465,183,460,178,442,184,435,185" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'north_carolina'), 'state_name', true);?>" title="North Carolina After School Programs">
      <area shape="poly" coords="447,189,469,214,485,193,473,184,466,185,459,182,450,184" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'south_carolina'), 'state_name', true);?>" title="South Carolina After School Programs">
      <area shape="poly" coords="448,158,444,165,503,155,496,142,488,139,488,134,480,132,473,142,465,154,455,158" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'virginia'), 'state_name', true);?>" title="Virginia After School Programs">
      <area shape="poly" coords="504,141,502,149,518,159,529,157,530,149" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'district_of_columbia'), 'state_name', true);?>" title="Washington DC After School Programs">
      <area shape="poly" coords="455,105,459,127,500,121,505,116,502,102,496,97" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'pennsylvania'), 'state_name', true);?>" title="Pennsylvania After School Programs">
      <area shape="poly" coords="462,101,498,95,512,104,504,62,493,63,487,80,479,86,466,88" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'new_york'), 'state_name', true);?>" title="New York After School Programs">
      <area shape="poly" coords="507,61,519,57,520,62,518,65,518,82,512,83" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'vermont'), 'state_name', true);?>" title="Vermont After School Programs">
      <area shape="poly" coords="523,81,531,77,521,53,522,61,520,66,520,74" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'new_hampshire'), 'state_name', true);?>" title="New Hampshire After School Programs">
      <area shape="poly" coords="524,54,532,73,554,49,543,27,537,24,530,26,527,34" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'maine'), 'state_name', true);?>" title="Maine After School Programs">
      <area shape="poly" coords="513,84,537,77,555,78,555,85,534,92,529,87,513,90" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'massachusetts'), 'state_name', true);?>" title="Massachusetts After School Programs">
      <area shape="poly" coords="526,89,528,96,546,107,554,106,553,95,535,93,529,89" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'rhode_island'), 'state_name', true);?>" title="Rhode Island After School Programs">
      <area shape="poly" coords="512,93,524,90,526,97,543,108,532,111,521,99,516,102" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'connecticut'), 'state_name', true);?>" title="Connecticut After School Programs">
      <area shape="poly" coords="534,135,534,146,507,140,490,137,482,127,498,126,502,135,507,137" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'maryland'), 'state_name', true);?>" title="Maryland After School Programs">
      <area shape="poly" coords="504,103,511,107,514,113,532,114,532,121,520,121,513,121,510,126,502,123,508,116,505,110" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'new_jersey'), 'state_name', true);?>" title="New Jersey After School Programs">
      <area shape="poly" coords="503,135,532,133,531,123,509,129,503,129,500,123,498,129" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'delaware'), 'state_name', true);?>" title="Delaware After School Programs">
      <area shape="poly" coords="445,146,455,127,460,131,478,127,481,130,472,142,465,151,451,157" href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=>'west_virginia'), 'state_name', true);?>" title="West Virginia After School Programs">
    </map>
  </div>
</div>
<div id="right-col"> <?php echo $this->rightside; ?> </div>
