<div id="nav">

        <a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>" title="After School Programs"><h1>After School <br/> Programs</h1></a>

        <ul>

          <li class="<?php echo ($this->controllerName == 'index' && $this->actionName == 'index' || $this->controllerName == 'listing' ||$this->controllerName == 'index' &&  $this->actionName == 'state'||$this->controllerName == 'index' &&  $this->actionName == 'city' ||$this->controllerName == 'index' &&  $this->actionName == 'detail' )?'home':'';?>"><a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>">After School Programs</a></li>

          <li class="<?php echo ($this->controllerName == 'martial-arts' && $this->actionName == 'index' || $this->controllerName == 'martial-arts' && $this->actionName == 'state'|| $this->controllerName == 'martial-arts' &&  $this->actionName == 'city' ||$this->controllerName == 'martial-arts' &&  $this->actionName == 'detail')?'home':'';?>"><a href="<?php echo $this->url(array('controller'=>'martial-arts','action'=>'index','module'=>'default'), 'default', true);?>">Martial Arts</a></li>

          <li class="<?php echo ($this->controllerName == 'youth-sports' && $this->actionName == 'index' ||$this->controllerName == 'youth-sports' &&  $this->actionName == 'state'||$this->controllerName == 'youth-sports' &&  $this->actionName == 'city' ||$this->controllerName == 'youth-sports' &&  $this->actionName == 'detail')?'home':'';?>"><a href="<?php echo $this->url(array('controller' => 'youth-sports','action'=>'index','module'=>'default'), 'default', true);?>">Youth Sports</a></li>

          <li class="<?php echo ($this->controllerName == 'contact' && $this->actionName == 'index')?'home':'';?>"><a href="<?php echo $this->url(array('controller'=>'contact','action'=>'index','module'=>'default'), 'default', true);?>">Contact</a></li>
		
        <?php if(!isset($this->objSess->user_id)){ ?>

          <li class="<?php echo ($this->controllerName == 'user' && $this->actionName == 'login')?'home':'';?>"><a href="<?php echo $this->url(array('controller'=>'user','action'=>'login','module'=>'default'), 'default', true);?>">User Login</a></li>

          <li class="<?php echo ($this->controllerName == 'user' && $this->actionName == 'register')?'home':'';?>"><a href="<?php echo $this->url(array('controller'=>'user','action'=>'register','module'=>'default'), 'default', true);?>">User Registration</a></li>
		
         <?php } ?>
         
         
          <?php if(isset($this->objSess->user_option) && $this->objSess->user_option == PROVIDER){ ?>
         
          <li class="<?php echo ($this->controllerName == 'provider' && $this->actionName == 'dashboard' ||$this->controllerName == 'provider' &&  $this->actionName == 'add')?'home':'';?>"><a href="<?php echo $this->url(array('controller'=>'provider','action'=>'dashboard','module'=>'default'), 'default', true);?>">Dashboard</a></li>
			
           <?php }else if(isset($this->objSess->user_option) && $this->objSess->user_option == PARENT){ ?> 
            
          <li class="<?php echo ($this->controllerName == 'parent' && $this->actionName == 'dashboard')?'home':'';?>"><a href="<?php echo $this->url(array('controller'=>'parent','action'=>'dashboard','module'=>'default'), 'default', true);?>">Dashboard</a></li>

          	<?php } ?>

         
          <?php if(isset($this->objSess->user_id)){ ?>
         
			 <li style="color: #FFE5C3;font-size: 16px;text-decoration: none;">| Welcome,<?php echo $this->objSess->first_name;?></li>
            
                                    <li><a href="<?php echo $this->url(array('controller'=>'user','action'=>'logout','module'=>'default'), 'default', true);?>"><?php echo $this->translate('ADMIN_LABEL_LOGOUT');?></a></li>          

          <?php } ?>	          

        </ul>

      </div>