<?php $this->InlineScript()->captureStart()?>
$(document).ready(function() {	
	//make selected left menu item 
    $('#left-col-user').addClass('active');                   
});
<?php $this->InlineScript()->captureEnd()?>

<form id="PSForm" class="form label-inline" method="POST">
    <?php if(!empty($this->message)){ ?>
		<?php if($this->messageType=='error'){?>
        	<div class="msg error"><?php echo $this->message?></div>
        <?php } else { ?>
        	<div class="msg confirm"><?php echo $this->message?></div>
        <?php }?>
    <?php } ?>
    
	<div class="field">
		<label for="lusername"><?php echo $this->translate('ADMIN_LABEL_USER_USERNAME');?> </label>
		<?php echo $this->objForm->username;?>
	</div>
	<div class="field">
		<label for="lname"><?php echo $this->translate('ADMIN_LABEL_USER_NAME');?> </label>
		<?php echo $this->objForm->name;?>
	</div>
	<div class="field">
		<label for="lemail"><?php echo $this->translate('ADMIN_LABEL_USER_EMAIL');?> </label>
		<?php echo $this->objForm->email;?>
	</div>

    <div class="clr"></div>
    <input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>" >
	<br>
	<div class="buttonrow">
		<?php if($this->currentAction == 'Add') : ?>
			<?php echo $this->objForm->add_btn;?>
		<?php else : ?>
			<?php echo $this->objForm->edit_btn;?>
		<?php endif;?>	
		<input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('ADMIN_LINK_LABEL_USER_BACK');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'user','action'=>'index'),null,true)?>'" />
	</div>
    
</form>
