<div>
  <hr>
  <ul class="breadcrumb">
    <li> <a href="#">Home</a> <span class="divider">/</span> </li>
    <li> <a href="#">Activity Details</a> </li>
  </ul>
  <hr>
</div>
<?php



		//global;
		
		//_pr($this->activity,1);
?>
<div class="row-fluid sortable">

  <?php if(isset($this->activity) && $this->activity !== '') { ?>

  <div class="box span6">
    <div class="box-header">
      <h2><i class="icon-align-justify"></i><span class="break"></span>Old data</h2>
      <div class="box-icon"> <a href="#" class="btn-setting"><i class="icon-wrench"></i></a> <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a> <a href="#" class="btn-close"><i class="icon-remove"></i></a> </div>
    </div>
    <div class="box-content">
      <table cellpadding="0" cellspacing="0" border="0" class="table">
        <tbody>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_NAME');?></td>
            <td><?php echo $this->activity['name'];?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_ADDRESS');?></td>
            <td><?php echo $this->activity['address'];?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_CITY');?></td>
            <td><?php echo $this->activity['city'];?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_STATE');?></td>
            <td><?php echo $this->arrStates[$this->activity['state']]; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_ZIP');?></td>
            <td><?php echo $this->activity['zip']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_CATEGORY');?></td>
            <td><?php echo $this->activity['category']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_NOTE');?></td>
            <td><?php echo $this->activity['note']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_PHONE');?></td>
            <td><?php echo $this->activity['phone']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_URL');?></td>
            <td><?php echo $this->activity['url']; ?></td>
          </tr>
          <!--<tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_FILENAME');?></td>
            <td><?php echo $this->activity['filename']; ?></td>
          </tr>-->
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_EMAIL'); ?></td>
            <td><?php echo $this->activity['email']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_DETAILS');?></td>
            <td><?php echo $this->activity['details']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_KIDS_PROGRAM_URL');?></td>
            <td><?php echo $this->activity['kids_program_url']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_SUMMER_PROGRAM_URL');?></td>
            <td><?php echo $this->activity['summer_program_url']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_VIDEO_URL');?></td>
            <td><?php echo $this->activity['video_url']; ?></td>
          </tr>         
         <tr>
          <td><?php echo $this->translate('FRONT_LINK_LABEL_IMAGES');?></td>
          <td>
          <?php if(isset($this->ApprovedImages) && $this->ApprovedImages !='') {           		
				foreach($this->ApprovedImages as $images):
          	?>
            <img src="<?php echo IMAGE_PATH.$images['imagename'];?>" border="0" width="50" height="50" alt="<?php echo $images['altname'] ?>"/>
			
           <?php endforeach;
		    
            }else {	 ?>  
			<img src="<?php echo IMAGE_PATH.'noimage.jpg';?>" border="0" width="150" height="150" alt="<?php echo 'noimage' ?>"/>
            <?php } ?>
            </td>
          </tr>

          
          <!--    <tr>
      <td><?php echo $this->translate('');?></td>
      <td><?php echo $this->arrDataList['']; ?></td>
    </tr>
-->
        </tbody>
      </table>
    </div>
  </div>

 <?php  } ?>
  <!--/span-->
  
  <div class="box span6">
    <div class="box-header">
      <h2><i class="icon-align-justify"></i><span class="break"></span>Updated Data</h2>
      <div class="box-icon"> <a href="#" class="btn-setting"><i class="icon-wrench"></i></a> <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a> <a href="#" class="btn-close"><i class="icon-remove"></i></a> </div>
    </div>
    <div class="box-content">
      <table cellpadding="0" cellspacing="0" border="0" class="table">
        <tbody>
          <tr class="<?php echo ($this->activity['name'] != $this->arrDataList['name'])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_NAME');?></td>
            <td><?php echo $this->arrDataList['name'];?></td>
          </tr>
          <tr class="<?php echo ($this->activity['address'] != $this->arrDataList['address'])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_ADDRESS');?></td>
            <td><?php echo $this->arrDataList['address'];?></td>
          </tr>
          <tr class="<?php echo ($this->activity['city'] != $this->arrDataList['city'])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_CITY');?></td>
            <td><?php echo $this->arrDataList['city'];?></td>
          </tr>
          <tr class="<?php echo ($this->arrStates[$this->activity['state']] != $this->arrStates[$this->arrDataList['state']])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_STATE');?></td>
            <td><?php echo $this->arrStates[$this->arrDataList['state']]; ?></td>
          </tr>
          <tr class="<?php echo ($this->activity['zip'] != $this->arrDataList['zip'])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_ZIP');?></td>
            <td><?php echo $this->arrDataList['zip']; ?></td>
          </tr>
          <tr class="<?php echo ($this->activity['category'] != $this->arrDataList['category'])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_CATEGORY');?></td>
            <td><?php echo $this->arrDataList['category']; ?></td>
          </tr>
          <tr class="<?php echo ($this->activity['note'] != $this->arrDataList['note'])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_NOTE');?></td>
            <td><?php echo $this->arrDataList['note']; ?></td>
          </tr>
          <tr class="<?php echo ($this->activity['phone'] != $this->arrDataList['phone'])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_PHONE');?></td>
            <td><?php echo $this->arrDataList['phone']; ?></td>
          </tr>
          <tr class="<?php echo ($this->activity['url'] != $this->arrDataList['url'])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_URL');?></td>
            <td><?php echo $this->arrDataList['url']; ?></td>
          </tr>
          <!--<tr class="<?php echo ($this->activity['filename'] != $this->arrDataList['filename'])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_FILENAME');?></td>
            <td><?php echo $this->arrDataList['filename']; ?></td>
          </tr>-->
          <tr class="<?php echo ($this->activity['email'] != $this->arrDataList['email'])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_EMAIL'); ?></td>
            <td><?php echo $this->arrDataList['email']; ?></td>
          </tr>
          <tr class="<?php echo ($this->activity['details'] != $this->arrDataList['details'])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_DETAILS');?></td>
            <td><?php echo $this->arrDataList['details']; ?></td>
          </tr>
          <tr class="<?php echo ($this->activity['kids_program_url'] != $this->arrDataList['kids_program_url'])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_KIDS_PROGRAM_URL');?></td>
            <td><?php echo $this->arrDataList['kids_program_url']; ?></td>
          </tr>
          <tr class="<?php echo ($this->activity['summer_program_url'] != $this->arrDataList['summer_program_url'])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_SUMMER_PROGRAM_URL');?></td>
            <td><?php echo $this->arrDataList['summer_program_url']; ?></td>
          </tr>
          <tr class="<?php echo ($this->activity['video_url'] != $this->arrDataList['video_url'])?'box-header':'';?>">
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_VIDEO_URL');?></td>
            <td><?php echo $this->arrDataList['video_url']; ?></td>
          </tr>
          
          <tr class="<?php echo ((isset($this->ApprovedImages['imagename']) && $this->ApprovedImages['imagename'] != $this->ImagesList['imagename']))?'box-header':'';?>">
          <td><?php echo $this->translate('FRONT_LINK_LABEL_IMAGES');?></td>
          <td>
          
          <?php if(isset($this->ImagesList) && $this->ImagesList !='') {           		?>
				<ul class="imagelist">
		<?php 		foreach($this->ImagesList as $image):
          	?>   
			
            	
                <li>
             
            <img src="<?php echo IMAGE_PATH.$image['imagename'];?>" border="0" width="50" height="50" alt="<?php echo $image['altname'] ?>"/>
            <?php echo ($image['approved'] == '-1'?'<br>(deleted)':'');?>  
            
            	

            

            </li>
           <?php endforeach; ?>
		    </ul>
            <?php 
            }else {	 ?>  
			<img src="<?php echo IMAGE_PATH.'noimage.jpg';?>" border="0" width="150" height="150" alt="<?php echo 'noimage' ?>"/>
            <?php } ?>
            </td>
          </tr>
         
                      
          <!--    <tr>
      <td><?php echo $this->translate('');?></td>
      <td><?php echo $this->arrDataList['']; ?></td>
    </tr>
-->
        </tbody>
      </table>
    </div>
  </div>
  <!--/span--> 
</div>

			<div class="box span6">
						<p>
                        
                        <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'afterschool','action'=>'approve','status'=>'approve','id'=>$this->id),null,true)?>">
							<button class="btn btn-large btn-primary">Approved</button></a>
                        <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'afterschool','action'=>'approve','status'=>'disapprove','id'=>$this->id,'status'=>'disapprove'),null,true)?>">    
							<button class="btn btn-large btn-primary">Disapprove</button></a>
						</p>
				</div>
                
<div class="clr">&nbsp;</div>
<input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>">
