<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Afterschool Details</a>
					</li>
				</ul>
				<hr>
			</div>

<div class="row-fluid sortable">

<?php 
global $arrClaim;

if(isset($this->afterschool) && $this->afterschool !== '') { ?>

  <div class="box span6">
    <div class="box-header">
      <h2><i class="icon-align-justify"></i><span class="break"></span>Old data</h2>
      <div class="box-icon"> <a href="#" class="btn-setting"><i class="icon-wrench"></i></a> <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a> <a href="#" class="btn-close"><i class="icon-remove"></i></a> </div>
    </div>
    <div class="box-content">
<table cellpadding="0" cellspacing="0" border="0" class="table">
  <tbody>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_NAME');?></td>
      <td><?php echo $this->afterschool['name'];?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_LOCATION');?></td>
      <td><?php echo $this->afterschool['location'];?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_ADDRESS');?></td>
      <td><?php echo $this->afterschool['address'];?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_ADDRESS2');?></td>
      <td><?php echo $this->afterschool['address2']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_CITY');?></td>
      <td><?php echo $this->afterschool['city']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_STATE');?></td>
      <td><?php echo $this->arrStates[$this->afterschool['state']]; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_ZIP');?></td>
      <td><?php echo $this->afterschool['zip']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_PHONE');?></td>
      <td><?php echo $this->afterschool['phone']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_EMAIL');?></td>
      <td><?php echo $this->afterschool['email']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_CAPACITY');?></td>
      <td><?php echo $this->afterschool['capacity']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_STATUS');?></td>
      <td><?php echo $this->afterschool['status']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_AGE_RANGE');?></td>
      <td><?php echo $this->afterschool['age_range']; ?></td>
    </tr>
    <!--<tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_FILENAME');?></td>
      <td><?php echo $this->afterschool['filename']; ?></td>
    </tr>-->
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_WEBSITE');?></td>
      <td><?php echo $this->afterschool['website']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_INTRODUCTION');?></td>
      <td><?php echo $this->afterschool['introduction']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_CATEGORY');?></td>
      <td><?php echo $this->afterschool['category']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_CLAIM');?></td>
      <td><?php echo $arrClaim[$this->afterschool['claim']]; ?></td>
    </tr>
     <tr>
      <td><?php echo $this->translate('FRONT_LINK_LABEL_IMAGES');?></td>
      <td>
      <?php if(isset($this->ApprovedImages) && $this->ApprovedImages !='') {           		
            foreach($this->ApprovedImages as $images):
        ?>
        <img src="<?php echo AFTERSCHOOL_IMAGE_PATH.$images['provider_id'].'/'.$images['imagename'];?>" border="0" width="50" height="50" alt="<?php echo $images['altname'] ?>"/>
        
       <?php endforeach;
        
        } else {  ?>  
        <img src="<?php echo IMAGE_PATH.'noimage.jpg';?>" border="0" width="150" height="150" alt="<?php echo 'noimage' ?>"/>
        <?php } ?>
        </td>
      </tr>
      
 </tbody>
</table>
    </div>
  </div>

<?php } ?>

  <div class="box span6">
    <div class="box-header">
      <h2><i class="icon-align-justify"></i><span class="break"></span>Updated Data</h2>
      <div class="box-icon"> <a href="#" class="btn-setting"><i class="icon-wrench"></i></a> <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a> <a href="#" class="btn-close"><i class="icon-remove"></i></a> </div>
    </div>
    <div class="box-content">
<table cellpadding="0" cellspacing="0" border="0" class="table">
  <tbody>
    <tr class="<?php echo ($this->afterschool['name'] != $this->arrDataList['name'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_NAME');?></td>
      <td><?php echo $this->arrDataList['name'];?></td>
    </tr>
    <tr class="<?php echo ($this->afterschool['location'] != $this->arrDataList['location'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_LOCATION');?></td>
      <td><?php echo $this->arrDataList['location'];?></td>
    </tr>
    <tr class="<?php echo ($this->afterschool['address'] != $this->arrDataList['address'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_ADDRESS');?></td>
      <td><?php echo $this->arrDataList['address'];?></td>
    </tr>
    <tr class="<?php echo ($this->afterschool['address2'] != $this->arrDataList['address2'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_ADDRESS2');?></td>
      <td><?php echo $this->arrDataList['address2']; ?></td>
    </tr>
    <tr class="<?php echo ($this->afterschool['city'] != $this->arrDataList['city'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_CITY');?></td>
      <td><?php echo $this->arrDataList['city']; ?></td>
    </tr>
    <tr class="<?php echo ($this->afterschool['state'] != $this->arrDataList['state'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_STATE');?></td>
      <td><?php echo $this->arrStates[$this->arrDataList['state']]; ?></td>
    </tr>
    <tr class="<?php echo ($this->afterschool['zip'] != $this->arrDataList['zip'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_ZIP');?></td>
      <td><?php echo $this->arrDataList['zip']; ?></td>
    </tr>
    <tr class="<?php echo ($this->afterschool['phone'] != $this->arrDataList['phone'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_PHONE');?></td>
      <td><?php echo $this->arrDataList['phone']; ?></td>
    </tr>
    <tr class="<?php echo ($this->afterschool['email'] != $this->arrDataList['email'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_EMAIL');?></td>
      <td><?php echo $this->arrDataList['email']; ?></td>
    </tr>
    <tr class="<?php echo ($this->afterschool['capacity'] != $this->arrDataList['capacity'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_CAPACITY');?></td>
      <td><?php echo $this->arrDataList['capacity']; ?></td>
    </tr>
    <tr class="<?php echo ($this->afterschool['status'] != $this->arrDataList['status'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_STATUS');?></td>
      <td><?php echo $this->arrDataList['status']; ?></td>
    </tr>
    <tr class="<?php echo ($this->afterschool['age_range'] != $this->arrDataList['age_range'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_AGE_RANGE');?></td>
      <td><?php echo $this->arrDataList['age_range']; ?></td>
    </tr>
    <!--<tr class="<?php echo ($this->afterschool['filename'] != $this->arrDataList['filename'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_FILENAME');?></td>
      <td><?php echo $this->arrDataList['filename']; ?></td>
    </tr>-->
    <tr class="<?php echo ($this->afterschool['website'] != $this->arrDataList['website'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_WEBSITE');?></td>
      <td><?php echo $this->arrDataList['website']; ?></td>
    </tr>
    <tr class="<?php echo ($this->afterschool['introduction'] != $this->arrDataList['introduction'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_INTRODUCTION');?></td>
      <td><?php echo $this->arrDataList['introduction']; ?></td>
    </tr>
    <tr class="<?php echo ($this->afterschool['category'] != $this->arrDataList['category'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_CATEGORY');?></td>
      <td><?php echo $this->arrDataList['category']; ?></td>
    </tr>
     <tr class="<?php echo ($this->afterschool['claim'] != $this->arrDataList['claim'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_CLAIM');?></td>
      <td><?php echo $arrClaim[$this->arrDataList['claim']]; ?></td>
    </tr>
      <tr class="<?php echo ($this->ApprovedImages['imagename'] != $this->ImagesList['imagename'])?'box-header':'';?>">
      <td><?php echo $this->translate('FRONT_LINK_LABEL_IMAGES');?></td>
      <td>
      
      <?php  if(isset($this->ImagesList) && $this->ImagesList !='') {           		
            foreach($this->ImagesList as $image):
        ?>

  		<?php if($this->arrDataList['action'] == 'add'): ?>
        <img src="<?php echo AFTERSCHOOL_IMAGE_PATH.'Log_'.$image['provider_id'].'/'.$image['imagename'];?>" border="0" width="50" height="50" alt="<?php echo $image['altname'] ?>"/>
        <?php else: ?>
        
        <img src="<?php echo AFTERSCHOOL_IMAGE_PATH.$image['provider_id'].'/'.$image['imagename'];?>" border="0" width="50" height="50" alt="<?php echo $image['altname'] ?>"/>
		<?php endif; ?>
        
       <?php endforeach;
        
        }else {	 ?>  
        <img src="<?php echo IMAGE_PATH.'noimage.jpg';?>" border="0" width="150" height="150" alt="<?php echo 'noimage' ?>"/>
        <?php } ?>
        </td>
      </tr>
    
 </tbody>
</table>
    </div>
  </div>
  <!--/span--> 
</div>

			<div class="box span6">
					
						<p>
                        
                        <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'afterschool','action'=>'approveafterschool','status'=>'approve','id'=>$this->id),null,true)?>">
							<button class="btn btn-large btn-primary">Approved</button></a>
                        <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'afterschool','action'=>'approveafterschool','status'=>'disapprove','id'=>$this->id,'status'=>'disapprove'),null,true)?>">    
							<button class="btn btn-large btn-primary">Disapprove</button></a>
						</p>
				</div>
                
	
	<div class="clr">&nbsp;</div>
<input type="hidden" id="id" name="id">

