<table cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="PADDING-BOTTOM:10px;PADDING-LEFT:25px;PADDING-RIGHT:25px;BACKGROUND:#d5e6fc;PADDING-TOP:10px"><table style="MARGIN:20px auto;WIDTH:600px;FONT-FAMILY:Arial,Helvetica,sans-serif;BACKGROUND:#ffffff;FONT-SIZE:12px" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td style="LINE-HEIGHT:0px;BACKGROUND:#8dbaeb">Section8housing.us</td>
            </tr>
            <tr>
              <td style="PADDING-BOTTOM:26px;LINE-HEIGHT:22px;PADDING-LEFT:25px;PADDING-RIGHT:25px;BACKGROUND:#e6f0ff;PADDING-TOP:26px"><table style="WIDTH:100%" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td><div style="FONT-SIZE:26px;FONT-WEIGHT:bold">Welcome to <span class="il">Section8housing.us</span>!</div>
                        <div style="PADDING-BOTTOM:0pt;LINE-HEIGHT:20px;PADDING-LEFT:0pt;PADDING-RIGHT:0pt;FONT-SIZE:14px;FONT-WEIGHT:normal;PADDING-TOP:10px">Contact-Us:<br>
                          <strong><a href="mailto:{$confirmation_email}" target="_blank">{$confirmation_email}</a></strong></div></td>
<!--                      <td style="TEXT-ALIGN:right;VERTICAL-ALIGN:middle"><a href="{$confirmation_url}" target="_blank"><img border="0" alt="Click to Confirm" src="<?php echo USER_IMAGES_PATH;?>email-confirm.jpg"></a></td>
-->                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td style="PADDING-BOTTOM:25px;PADDING-LEFT:25px;PADDING-RIGHT:25px;BACKGROUND:#ffffff;VERTICAL-ALIGN:top;PADDING-TOP:30px"><table style="WIDTH:auto" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="LINE-HEIGHT:24px;FONT-SIZE:13px;VERTICAL-ALIGN:top">Customer Detalis: <strong></strong>
                      </td></tr>
                        
                          <tr><td><strong>Name:</strong></td><td>{$confirmation_name}</td></tr>
                          <tr><td><strong>Email:</strong></td><td>{$confirmation_email}</td></tr>
                          <tr><td><strong>Subject:</strong></td><td>{$confirmation_subject}</td></tr>
                          <tr><td><strong>Body:</strong></td><td>{$confirmation_body}</td></tr>
                        <!--<a style="COLOR:#2e86cf" href="{$confirmation_url}" target="_blank">Click Here to Confirm Your Email</a>-->
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td style="PADDING-BOTTOM:25px;LINE-HEIGHT:15px;PADDING-LEFT:25px;PADDING-RIGHT:25px;BACKGROUND:#e6f0ff;COLOR:#8397ae;FONT-SIZE:10px;PADDING-TOP:25px"><table style="LINE-HEIGHT:15px;FONT-FAMILY:Arial,sans-serif;COLOR:#8397ae;FONT-SIZE:10px" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="WIDTH:366px;PADDING-RIGHT:14px;BORDER-RIGHT:#cad9f0 1px dotted">If you did not make this request, or you don't want to add this email address, no further action is required.<br>
                        Please do not respond to this message.<br>
                        If you'd like to contact <span class="il">Section8Housing.us</span>, please call: 866-466-7328<br>
                        <br>
                        Affordable Housing Network, 5000 T-Rex Ave Suite 150, Boca Raton, FL 33431 <br>
                        © 2012 <span class="il">Section8Housing.us</span>.com </td>
                      <td style="TEXT-ALIGN:center;WIDTH:165px;VERTICAL-ALIGN:top"><strong style="FONT-SIZE:16px">Stay Connected!</strong><br>
                        <a href="#" target="_blank"><img style="MARGIN:18px 6px 0px 0px" border="0" alt="" src="<?php echo USER_IMAGES_PATH;?>email-facebook.jpg"></a> <a href="#" target="_blank"><img style="MARGIN:18px 0px 0px" border="0" alt="" src="<?php echo USER_IMAGES_PATH;?>email-twitter.jpg"></a></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td style="LINE-HEIGHT:0px;BACKGROUND:#e6f0ff;min-height:24px"><img alt="section8housing.us" src="<?php echo USER_IMAGES_PATH;?>email3-footer.jpg"></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>