<?php $this->headScript()->appendFile($this->baseUrl().'/js/tiny_mce/tiny_mce.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/tiny_mce/tiny_mce_activate.js'); ?>
<script>
		jQuery(document).ready(function(){
			// binds form submission and fields to the validation engine
			jQuery("#PSForm").validationEngine();
		});
</script>
<div id="left-col"> <a href="/">Home</a> &gt;&gt; Contact
  <h2>Contact</h2>
  <p>You can leave a message using the contact form below.</p>
  
    <?php if(!empty($this->message)){ ?>
    <?php if($this->messageType=='error'){?>
    <div class="msg error"><?php echo $this->message?></div>
    <?php } else { ?>
    <div class="msg confirm"><?php echo $this->message?></div>
    <?php }?>
    <?php } ?>


  
  <form id="PSForm" method="POST" enctype="multipart/form-data" class="form-horizontal">
       <table border="0">
      <tbody>
        <tr>
          <td><label class="required" for="name"><?php echo $this->translate('ADMIN_LABEL_CONTACT_NAME');?>:</label></td>
          <td><?php echo $this->objForm->name;?></td>
        </tr>
        <tr>
          <td><label class="required" for="email"><?php echo $this->translate('ADMIN_LABEL_CONTACT_EMAIL');?>:</label></td>
          <td><?php echo $this->objForm->email;?></td>
        </tr>
        <tr>
          <td><label class="required" for="subject"><?php echo $this->translate('ADMIN_LABEL_CONTACT_SUBJECT');?>:</label></td>
          <td><?php echo $this->objForm->subject;?></td>
        </tr>
        <tr>
          <td><label class="required" for="message"><?php echo $this->translate('ADMIN_LABEL_CONTACT_MESSAGE');?>:</label></td>
          <td><?php echo $this->objForm->message;?></td>
        </tr>
        <tr>
          <td><label class="required" for="challenge"><?php echo $this->translate('ADMIN_LABEL_CONTACT_CAPTCHA');?></label></td>
          <td><?php echo $this->objForm->challenge;?></td>
        </tr>
      </tbody>
    </table>
    <dt id="sendEmail-label">&nbsp;</dt>
    <dd id="sendEmail-element"> <?php echo $this->objForm->Submit;?></dd>
    </dl>
  </form>
</div>
<div id="right-col">
  <div class="widget"> 
    <script type="text/javascript"><!--
			google_ad_client = "pub-8651736830870146";
			/* 160x600, wide skyscraper created 2/13/10 */
			google_ad_slot = "3476733769";
			google_ad_width = 160;
			google_ad_height = 600;
			//-->
		</script> 
    <script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script> 
  </div>
</div>
