<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <? if(!empty($this->message)){ ?>
  <tr>
    <td align="center" class="txt-header"><font color="red">
      Sorry, you have no access to view
      </font></td>
  </tr>
  <? }?>
</table>