<div id="left-col" style="width: 923px;">
<h2>Parent</h2>

	<div style="padding: 9px 185px;">
     
           <input type="button" id="Reviews" name="Reviews" class="btn" value="<?php echo $this->translate('FRONT_LINK_LABEL_MY_REVIEWS');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'parent','action'=>'review'),'default',true)?>'" />
      <input type="button" id="Cpassword" name="Cpassword" class="btn" value="<?php echo $this->translate('FRONT_LINK_LABEL_CHANGE_PASSWORD');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'user','action'=>'userprofile'),'default',true)?>'" />
	
    </div>
</div>