<div id="left-col" style="width: 923px;">
<h2>Reviews</h2>



          <table cellpadding="0" cellspacing="0" border="0" class="hovertable" width="100%">
			<thead>
				<tr>
					<th><?php echo $this->translate('FRONT_LABEL_PROVIDER_NAME');?></th>
					<th><?php echo $this->translate('FRONT_LABEL_PROVIDER_EMAIL');?></th>	                    
					<th><?php echo $this->translate('ADMIN_LABEL_PROVIDER_RATING');?></th>
                    <th><?php echo $this->translate('ADMIN_LABEL_PROVIDER_COMMENTS');?></th>
                    <th><?php echo $this->translate('ADMIN_LABEL_PROVIDER_TABLE');?></th>
				</tr>
			</thead>
			<tbody>
            
				<?php if(count($this->arrDataList) < 1) : ?>
					<tr align="odd gradeX">
					<td colspan="7" align="center"><?php echo $this->translate('NO_RECORD_FOUND');?></td></tr>
				<?php else: ?>    
				<?php 
					
					foreach ( $this->arrDataList as $data ):
				?>
					<tr id="<?php echo $data->id; ?>" class="">
						<td><?php echo ($data->provider_name);?></td>
                        <td><?php echo $this->escape($data->email);?></td>                        
                        <td><?php echo $this->escape($data->rating);?></td>
 						<td><?php echo strip_tags($data->comments);?></td>                        
                        <td><?php echo $this->escape($data->table);?></td>
					</tr>
				<?php 
					endforeach;   
				 endif; ?>
			</tbody>
			</table>

		<div class="clr">&nbsp;</div>
		<div class="pagination alignright" align="center"><?php echo $this->paginationControl ( $this->objPaginator, 'Sliding', 'paginator.phtml', array ('extraVar' => $this->pagingExtraVar ) ); ?></div>
	
    <br>
            

</div>