<?php $this->InlineScript()->captureStart()?>
$(document).ready(function() {	
	//make selected left menu item 
    $('#left-col-generalsettings').addClass('active');                   
});
<?php $this->InlineScript()->captureEnd()?>

<form action="" method="post" class="form label-inline" enctype="multipart/form-data" id="PSForm">
	  <div class="field">
    	 <label for="site_title"><?php echo $this->translate('ADMIN_LABEL_GENERALSETTINGS_SITE_TITLE');?></label>
    	<?php echo $this->objForm->site_title;?>
  	</div>   

     <div class="field">
    	 <label for="email_id"><?php echo $this->translate('ADMIN_LABEL_GENERALSETTINGS_EMAIL_ID');?></label>
    	 <?php echo $this->objForm->email_id;?>
  	</div>
  	
  	<div class="field">
    	 <label for="lab_id"><?php echo $this->translate('ADMIN_LABEL_GENERALSETTINGS_CONTACT_NO');?></label>
    	 <?php echo $this->objForm->contact_no;?>
  	</div>
  	
  	<div class="field">
    	 <label for="lab_address"><?php echo $this->translate('ADMIN_LABEL_GENERALSETTINGS_CONTACT_ADDRESS');?></label>
    	 <?php echo $this->objForm->contact_address;?>
  	</div>
    
  	<div class="field">
    	<label for="paging_variable"><?php echo $this->translate('ADMIN_LABEL_GENERALSETTINGS_PAGING_VARIABLE');?></label>
    	<?php echo $this->objForm->paging_variable;?>
  	</div>
    
  	<div class="field">
     	<label for="page_in_group"><?php echo $this->translate('ADMIN_LABEL_GENERALSETTINGS_PAGE_IN_GROUP');?></label>
    	<?php echo $this->objForm->page_in_group;?>
  	</div>
    
    <div class="field">
     	<label for="message_type_hiv_consent_text"><?php echo $this->translate('ADMIN_LABEL_GENERALSETTINGS_MESSAGE1');?></label>
    	<?php echo $this->objForm->message1;?>
  	</div>

  	<div class="field">
    	<label for="message_type_other_consent_text"><?php echo $this->translate('ADMIN_LABEL_GENERALSETTINGS_MESSAGE2');?></label>
    	<?php echo $this->objForm->message2;?>
  	</div>
    
    <div class="field">
     	<label for="visitby"><?php echo $this->translate('ADMIN_LABEL_GENERALSETTINGS_MESSAGE3');?></label>
    	<?php echo $this->objForm->message3;?>
  	</div>
     
    <div class="clr"></div>
    <input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>" >
	
    <div class="buttonrow">
  		<?php echo $this->objForm->add_btn;?>
  		<input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('ADMIN_LINK_LABEL_GENERALSETTINGS_BACK');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'admin','controller'=>'welcome','action'=>'index'),null,true)?>'" />
  	</div>
    
</form>
