<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<!-- ckeditor -->
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/ckfinder/ckfinder.js"></script>
<!-- ckeditor -->

<script type="text/javascript">
$(document).ready(function() {
	
	
	jQuery("#PSForm").validationEngine();
	
	$("#addCF").click(function(){
		$("#addImageUpload").append('<input type="file" class="code" id="customUpload" name="customUpload[]" /><br>');
	});
	
	$.getlatlng = function() {
		geocoder = new google.maps.Geocoder();
		//var address = $('#gadres').val() +','+ $('#gcity').val();
		var address = $('#gadres').val() +','+ $('#gcity').val() +','+ $('#state').find('option:selected').text();		
			//alert(address);						
		geocoder.geocode( 
			{ 'address': address}, 
			function(results, status) {				
				if (status == google.maps.GeocoderStatus.OK) {	
					
					$('#address_lat').val(results[0].geometry.location.lat().toFixed(6));
					$('#address_lng').val(results[0].geometry.location.lng().toFixed(6));
					$('#PSForm').submit();
				} else {
					$('#address_lat').val('');
					$('#address_lng').val('');
					if(confirm("The Address is incorrect, Do you want to continue?")){
						$('#PSForm').submit();	
					} else {				
						return false;
					}
					
				}				
			}
		)
	  return false;				        
    };
	
	/*$('#PSForm').change(function() {				
		$.getlatlng();				  
	});*/
	
	$('.btngeocode').click(function() {				
		$.getlatlng();				  
	});	

	
  $.deleteimage = function(id,log_action) { 			                                
        if(id){
        	if( confirm("<?php echo $this->translate('ADMIN_MSG_ALERT_IMAGES_DELETE');?>") ){
        	window.location.href = '<?php echo $this->url(array('module'=>'default','controller'=>'Provider','action'=>'deleteimage','perms' => $this->perms),null,true)?>/id/'+id+'/log_action/'+log_action;
        	}
         }else{
        	alert('please select at least one record!');
        }                
    }; 


  $.deletelogimage = function(id,urlid,log_action) { 			                                
        if(id){
        	if( confirm("<?php echo $this->translate('ADMIN_MSG_ALERT_IMAGES_DELETE');?>") ){
        	window.location.href = '<?php echo $this->url(array('module'=>'default','controller'=>'Provider','action'=>'deleteimage','table' => $this->RecordTable),null,true)?>/id/'+id+'/urlid/'+urlid+'/log_action/'+log_action;
        	}
         }else{
        	alert('please select at least one record!');
        }                
    }; 

	<?php if(isset($this->perms) &&  $this->perms !== 'activity' || isset($this->RecordTable) &&  $this->RecordTable !== 'activity_log' ) { ?>
 	var editor = CKEDITOR.replace( 'note' );
	editor.setData($('#getnote').val());
	
  	var editor = CKEDITOR.replace( 'details' );
	editor.setData($('#getdetails').val());
	
	<?php }?>

 	var editor = CKEDITOR.replace( 'introduction' );
	editor.setData($('#getintroduction').val());

	// Just call CKFinder.setupCKEditor and pass the CKEditor instance as the first argument.
	// The second parameter (optional), is the path for the CKFinder installation (default = "/ckfinder/").
	var CKFINDER_PATH = jQuery('#CKFINDER_PATH').val();
	CKFinder.setupCKEditor( editor, CKFINDER_PATH ) ;		
		
});

</script>

<div id="left-col">
  <h2><?php echo $this->translate('FRONT_LINK_LABEL_DASHBOARD_AFTERSCHOOL_ACTIVITY');?></h2>
  
  <!--<a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_HOME');?></a>&nbsp;>>&nbsp;<?php echo $this->translate('FRONT_LABEL_PROVIDER');?>
-->
  
  <form id="PSForm" method="POST" enctype="multipart/form-data" class="form-horizontal">
    <?php if(!empty($this->message)){ ?>
    <?php if($this->messageType=='error'){?>
    <div class="msg error"><?php echo $this->message?></div>
    <?php } else { ?>
    <div class="msg confirm"><?php echo $this->message?></div>
    <?php }?>
    <?php } ?>
    <table border="0" id="customFields">
      <tbody>
        <tr>
          <td><label class="required" for="name"><?php echo $this->translate('FRONT_LABEL_PROVIDER_NAME');?> :</label></td>
          <td><?php echo $this->objForm->name;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="address"><?php echo $this->translate('FRONT_LABEL_PROVIDER_ADDRESS');?> :</label></td>
          <td><?php echo $this->objForm->address;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="city"><?php echo $this->translate('FRONT_LABEL_PROVIDER_CITY');?> :</label></td>
          <td><?php echo $this->objForm->city;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="inputFirstName"><?php echo $this->translate('FRONT_LABEL_PROVIDER_STATE');?> :</label></td>
          <td><?php echo $this->objForm->state;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="zip"><?php echo $this->translate('FRONT_LABEL_PROVIDER_ZIP');?> :</label></td>
          <td><?php echo $this->objForm->zip;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="phone"><?php echo $this->translate('FRONT_LABEL_PROVIDER_PHONE');?> :</label></td>
          <td><?php echo $this->objForm->phone;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="email"><?php echo $this->translate('FRONT_LABEL_PROVIDER_EMAIL');?> :</label></td>
          <td><?php echo $this->objForm->email;?></td>
        </tr>
      
        <?php if(isset($this->perms) && $this->perms =='activity' || isset($this->RecordTable) && $this->RecordTable =='activity_log' ) { ?>

        <tr>
          <td><label class="control-label" for="location"><?php echo $this->translate('FRONT_LABEL_PROVIDER_LOCATION');?> :</label></td>
          <td><?php echo $this->objForm->location;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="capacity"><?php echo $this->translate('FRONT_LABEL_PROVIDER_CAPACITY');?> :</label></td>
          <td><?php echo $this->objForm->capacity;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="age_range"><?php echo $this->translate('FRONT_LABEL_PROVIDER_AGE_RANGE');?> :</label></td>
          <br />
          <td><?php echo $this->objForm->age_range;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="status"><?php echo $this->translate('FRONT_LABEL_PROVIDER_STATUS');?> :</label></td>
          <td><?php echo $this->objForm->status;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="introduction"><?php echo $this->translate('FRONT_LABEL_PROVIDER_INTRODUCTION');?> :</label></td>
          <td><?php echo $this->objForm->introduction ;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="website"><?php echo $this->translate('FRONT_LABEL_PROVIDER_WEBSITE');?> :</label></td>
          <td><?php echo $this->objForm->website;?></td>
        </tr>

        <?php } ?>
        

        <tr>
          <td><label class="control-label" for="note"><?php echo $this->translate('FRONT_LINK_LABEL_IMAGES');?> :</label></td>
          <td><?php echo $this->objForm->imagename;?><a href="javascript:void(0);" id="addCF">&nbsp;<input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('FRONT_LINK_LABEL_ADD_MORE');?>"/>
</a>
          		<div id="addImageUpload"></div>
                
      <?php //_pr($this->currentAction,1); ?>      
      
      <?php //_pr($this->arrDataImage,1); ?>        
                
      <?php if(isset($this->arrDataImage) && $this->arrDataImage != '') { ?>
		
        
	  <?php if(isset($this->arrDataAction) && $this->arrDataAction == 'add'):
		
			$afterschool_image_path = AFTERSCHOOL_IMAGE_PATH.'Log_';	
			$activity_image_path = ACTIVITY_IMAGE_PATH.'Log_';
		
		else:
	
			$afterschool_image_path = AFTERSCHOOL_IMAGE_PATH;	
			$activity_image_path = ACTIVITY_IMAGE_PATH;
		
		endif;
	  ?>
	
    
     <?php foreach ( $this->arrDataImage as $data ):?>
      <?php //echo $afterschool_image_path.$data['provider_id'].'/'.$data['imagename']; exit;?>
         <div class="control-group">
         <div class="controls">
         
          <?php if($data['type'] == 'AFTERSCHOOL'){ ?>
             <img src="<?php echo $afterschool_image_path.$data['provider_id'].'/'.$data['imagename'];?>" width="70" height="70" alt="preview"/>
          <?php } else { ?>
         	 <img src="<?php echo $activity_image_path.$data['provider_id'].'/'.$data['imagename'];?>" width="70" height="70" alt="preview"/> 
    	  <?php } ?>
          	
			<?php //_pr($this->perms,1); ?>
          <?php if($this->perms == 'martialarts' || $this->perms == 'youthsport' || $this->perms == 'activity' ) { ?>  	
                <img class="img-icon-size" name="edit_link" id="edit_link" src="<?php echo USER_IMAGES_PATH;?>delete.png" onclick="$.deleteimage('<?php echo $data['id'] ?>','<?php echo $this->arrDataAction; ?>');" />
          <?php }else {?>
                <img class="img-icon-size" name="edit_link" id="edit_link" src="<?php echo USER_IMAGES_PATH;?>delete.png" onclick="$.deletelogimage('<?php echo $data['id']?>','<?php echo $this->id; ?>','<?php echo $this->arrDataAction; ?>');" />
          <?php } ?>
          
          </div>
          </div>
    
     <?php endforeach;?>
     <?php } ?>
                
                
          </td>
        </tr>
        
        <?php if(isset($this->perms) &&  $this->perms !== 'activity' || isset($this->RecordTable) &&  $this->RecordTable !== 'activity_log' ) { ?>
        
        <tr>
          <td><label class="control-label" for="note"><?php echo $this->translate('FRONT_LABEL_PROVIDER_NOTE');?> :</label></td>
          <td><?php echo $this->objForm->note;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="details"><?php echo $this->translate('FRONT_LABEL_PROVIDER_DETAILS');?> :</label></td>
          <td><?php echo $this->objForm->details;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="inputFirstName"><?php echo $this->translate('FRONT_LABEL_PROVIDER_URL');?> :</label></td>
          <td><?php echo $this->objForm->url;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="inputFirstName"><?php echo $this->translate('FRONT_LABEL_PROVIDER_KIDS_PROGRAM_URL');?> :</label></td>
          <td><?php echo $this->objForm->kids_program_url;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="inputFirstName"><?php echo $this->translate('FRONT_LABEL_PROVIDER_SUMMER_PROGRAM_URL');?> :</label></td>
          <td><?php echo $this->objForm->summer_program_url;?></td>
        </tr>
        <tr>
          <td><label class="control-label" for="inputFirstName"><?php echo $this->translate('FRONT_LABEL_PROVIDER_VIDEO_URL');?> :</label></td>
          <td><?php echo $this->objForm->video_url;?></td>
        </tr>
        <?php } ?>
       <tr>
          <td><label class="control-label" for="inputFirstName"><?php echo $this->translate('FRONT_LABEL_PROVIDER_CLAIM');?> :</label></td>
          <td><?php echo $this->objForm->claim;?></td>
        </tr>
   
      </tbody>
    </table>
    <div class="clr"></div>
    <div class="control-group">
      <div class="controls">
        <input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>" >
        <input type="hidden" id="address_lat" name="lat" value="" >
        <input type="hidden" id="address_lng" name="lng" value="" >
        <textarea id="getnote" style="display:none;"><?php echo stripslashes($this->note);?></textarea> 
        <textarea id="getdetails" style="display:none;"><?php echo stripslashes($this->details);?></textarea>  
       <textarea id="getintroduction" style="display:none;"><?php echo stripslashes($this->introduction);?></textarea>
      </div>
    </div>
    <!-- 1st column of main box ends here -->
    
    <div class="control-group">
      <div class="controls">
        <?php if($this->currentAction == 'Add') : ?>
        <?php echo $this->objForm->add_btn;?>
        <?php else : ?>
        <?php echo $this->objForm->edit_btn;?>
        <?php endif;?>
        <input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('FRONT_LINK_LABEL_PROVIDER_BACK');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'provider','action'=>'dashboard'),null,true)?>'" />
      </div>
    </div>
    
    <!-- box 2 BUTTONS-->
    
  </form>
  <?php echo $this->fbbutton_data; ?> </div>
<div id="right-col">
  <div class="widget"> 
    <script type="text/javascript"><!--
			google_ad_client = "pub-8651736830870146";
			/* 160x600, wide skyscraper created 2/13/10 */
			google_ad_slot = "3476733769";
			google_ad_width = 160;
			google_ad_height = 600;
			//-->
		</script> 
    <script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script> 
  </div>
</div>


<input type="hidden"  id="CKFINDER_PATH" value="<?php echo CKFINDER_PATH;?>" />