<div id="left-col" style="width: 923px;">
<h2>Provider</h2>


	<div style="padding: 9px 152px;">
      <input type="button" id="Activity" name="Activity" class="btn" value="<?php echo $this->translate('FRONT_LINK_LABEL_DASHBOARD_AFTERSCHOOL_ACTIVITY');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'provider','action'=>'add','perms'=>'activity'),null,true)?>'" />
      <input type="button" id="MartialArts" name="Martialarts" class="btn" value="<?php echo $this->translate('FRONT_LINK_LABEL_DASHBOARD_MARTIALARTS');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'provider','action'=>'add','perms'=>'martialarts'),null,true)?>'" />
      <input type="button" id="Youthsport" name="Youthsport" class="btn" value="<?php echo $this->translate('FRONT_LINK_LABEL_DASHBOARD_YOUTHSPORTS');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'provider','action'=>'add','perms'=>'youthsport'),null,true)?>'" />
                <input type="button" id="Reviews" name="Reviews" class="btn" value="<?php echo $this->translate('FRONT_LINK_LABEL_MY_REVIEWS');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'parent','action'=>'review'),'default',true)?>'" /> 
      <input type="button" id="Cpassword" name="Cpassword" class="btn" value="<?php echo $this->translate('FRONT_LINK_LABEL_CHANGE_PASSWORD');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'user','action'=>'userprofile'),'default',true)?>'" />
	</div>


  <?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>


    	<div class="field">
    	<!--<form method="GET" name="PSForm_search" id="PSForm_search" class="form label-inline">
            <span>
	           <?php echo $this->objForm->searchtype;?>            	
   			   <?php echo $this->objForm->txtsearch;?>     
      	 	   <?php echo $this->objForm->search;?> 
            </span>
         </form>--> 
         </div>
         <form method="post" name="PSForm" id="PSForm" class="form label-inline">  
         
          <br>
          <h2>Approved Records</h2>
          <table cellpadding="0" cellspacing="0" border="0" class="hovertable" width="100%">
			<thead>
				<tr>
					<th><?php echo $this->translate('FRONT_LABEL_PROVIDER_NAME');?></th>
					<th><?php echo $this->translate('FRONT_LABEL_PROVIDER_ADDRESS');?></th>
                    <th><?php echo $this->translate('FRONT_LABEL_PROVIDER_EMAIL');?></th>
                    <th><?php echo $this->translate('FRONT_LABEL_PROVIDER_CATEGORY');?></th>
                    <!--<th><?php //echo $this->translate('FRONT_LABEL_PROVIDER_STATUS');?></th>-->
					<th><?php echo $this->translate('ADMIN_LABEL_ACTION');?></th>	
				</tr>
			</thead>
			<tbody>
            
				<?php if(count($this->arrDataList) < 1) : ?>
					<tr align="odd gradeX">
					<td colspan="7" align="center"><?php echo $this->translate('NO_RECORD_FOUND');?></td></tr>
				<?php else: ?>    
				<?php 
					
					foreach ( $this->arrDataList as $data ):
				?>
					<tr id="<?php echo $data->id; ?>" class="">
						<td><?php echo ($data->name);?></td>
                        <td><?php echo $this->escape($data->address);?></td>
 						<td><?php echo $this->escape($data->email);?></td>                        
                        <td><?php echo $this->escape($data->category);?></td>
                        <!--<td><?php //echo $this->escape($this->arrStatus[$data->provider_status]);?></td>-->
						<td>
                        <?php if ($data->category == 'AFTERSCHOOL'){ ?>
                            <a href="<?php echo $this->url(array('module'=>'default','controller'=>'provider','action'=>'edit','perms'=>'activity','id'=>$data->id),null,true)?>">                            <img class="img-icon-size" name="edit_link" id="edit_link" src="<?php echo USER_IMAGES_PATH; ?>edit.png"  /></a>
						<?php }else if($data->category == 'MARTIAL-ARTS') {?>
                            <a href="<?php echo $this->url(array('module'=>'default','controller'=>'provider','action'=>'edit','perms'=>'martialarts','id'=>$data->id),null,true)?>">                            <img class="img-icon-size" name="edit_link" id="edit_link" src="<?php echo USER_IMAGES_PATH; ?>edit.png"  /></a>
						<?php }else if($data->category == 'YOUTH-SPORTS') { ?>                        	
                        <a href="<?php echo $this->url(array('module'=>'default','controller'=>'provider','action'=>'edit','perms'=>'youthsport','id'=>$data->id),null,true)?>">                            <img class="img-icon-size" name="edit_link" id="edit_link" src="<?php echo USER_IMAGES_PATH; ?>edit.png"  /></a>
						<?php } ?>	
						</td>        
					</tr>
				<?php 
					endforeach;   
				 endif; ?>
			</tbody>
			</table>
		</form>	
		<div class="clr">&nbsp;</div>
		<div class="pagination alignright" align="center"><?php echo $this->paginationControl ( $this->objPaginator, 'Sliding', 'paginator.phtml', array ('extraVar' => $this->pagingExtraVar ) ); ?></div>
	
    <br>
    <h2>Pending Records</h2>
    <table cellpadding="0" cellspacing="0" border="0" class="hovertable" width="100%">
			<thead>
				<tr>
					<th><?php echo $this->translate('FRONT_LABEL_PROVIDER_NAME');?></th>
					<th><?php echo $this->translate('FRONT_LABEL_PROVIDER_ADDRESS');?></th>
                    <th><?php echo $this->translate('FRONT_LABEL_PROVIDER_EMAIL');?></th>
                    <th><?php echo $this->translate('FRONT_LABEL_PROVIDER_CATEGORY');?></th>
                    <th><?php echo $this->translate('FRONT_LABEL_PROVIDER_STATUS');?></th>
					<th><?php echo $this->translate('ADMIN_LABEL_ACTION');?></th>	
				</tr>
			</thead>
			<tbody>
            
				<?php if(count($this->pendingList) < 1) : ?>
					<tr align="odd gradeX">
					<td colspan="7" align="center"><?php echo $this->translate('NO_RECORD_FOUND');?></td></tr>
				<?php else: ?>    
				<?php 
					foreach ($this->pendingList as $datalist ):
				?>
					<tr id="<?php echo $datalist['id']; ?>" class="">
						<td><?php echo ($datalist['name']);?></td>
                        <td><?php echo $this->escape($datalist['address']);?></td>
 						<td><?php echo $this->escape($datalist['email']);?></td>                        
                        <td><?php echo $this->escape($datalist['category']);?></td>
                        <td><?php echo $this->escape($this->arrStatus[$datalist['provider_status']]);?></td> 
                        <td>
                        <?php if ($datalist['category'] == 'AFTERSCHOOL'){ ?>
                            <a href="<?php echo $this->url(array('module'=>'default','controller'=>'provider','action'=>'edit','table'=>'activity_log','id'=>$datalist['id']),null,true)?>">                            <img class="img-icon-size" name="edit_link" id="edit_link" src="<?php echo USER_IMAGES_PATH; ?>edit.png"  /></a>
						<?php }else if($datalist['category'] == 'MARTIAL-ARTS') {?>
                            <a href="<?php echo $this->url(array('module'=>'default','controller'=>'provider','action'=>'edit','table'=>'martialarts_log','id'=>$datalist['id']),null,true)?>">                            <img class="img-icon-size" name="edit_link" id="edit_link" src="<?php echo USER_IMAGES_PATH; ?>edit.png"  /></a>
						<?php }else if($datalist['category'] == 'YOUTH-SPORTS') { ?>                        	
                        <a href="<?php echo $this->url(array('module'=>'default','controller'=>'provider','action'=>'edit','table'=>'youthsport_log','id'=>$datalist['id']),null,true)?>">                            <img class="img-icon-size" name="edit_link" id="edit_link" src="<?php echo USER_IMAGES_PATH; ?>edit.png"  /></a>
						<?php } ?>	
						</td>       
					</tr>
				<?php 
					endforeach;   
				 endif; ?>
			</tbody>
			</table>
        <br>

    
  <input type="hidden" id="id" name="id">  


</div>