<div id="left-col">
<h2>Please select user option</h2>

<form id="PSForm" method="POST" enctype="multipart/form-data" class="form-horizontal">
  <?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>
  
  <div class="control-group">
  	<label class="radio"><?php echo $this->translate('FRONT_LABEL_PROPERTY_USER_OPTION');?> </label>
    <?php echo $this->objForm->user_option;?>
  </div>
  
  <div class="clr"></div>
  <div class="control-group">
  <div class="controls"><input type="hidden" id="id" name="id" value="<?php echo $this->objSess->user_id; ?>" ></div>
 </div>
  
  <!-- 1st column of main box ends here -->
  
  <div class="control-group">
      <?php if($this->currentAction == 'account') : ?>
       <div class="controls"><?php echo $this->objForm->add_btn;?> </div>
      <?php endif;?>
  </div>
  <!-- box 2 BUTTONS-->
  
</form>

</div>