<table cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="PADDING-BOTTOM:10px;PADDING-LEFT:25px;PADDING-RIGHT:25px;BACKGROUND:#d5e6fc;PADDING-TOP:10px"><table style="MARGIN:20px auto;WIDTH:600px;FONT-FAMILY:Arial,Helvetica,sans-serif;BACKGROUND:#ffffff;FONT-SIZE:12px" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td style="LINE-HEIGHT:0px;BACKGROUND:#8dbaeb">afterschoolprograms.us</td>
            </tr>
            <tr>
              <td style="PADDING-BOTTOM:26px;LINE-HEIGHT:22px;PADDING-LEFT:25px;PADDING-RIGHT:25px;BACKGROUND:#e6f0ff;PADDING-TOP:26px"><table style="WIDTH:100%" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td><div style="FONT-SIZE:26px;FONT-WEIGHT:bold">Welcome to <span class="il">After School Programs</span>!</div>
                        <div style="PADDING-BOTTOM:0pt;LINE-HEIGHT:20px;PADDING-LEFT:0pt;PADDING-RIGHT:0pt;FONT-SIZE:14px;FONT-WEIGHT:normal;PADDING-TOP:10px">Forgot Your Password:<br>
                          <strong><a href="mailto:{$confirmation_email}" target="_blank">{$confirmation_email}</a></strong></div></td>
                      <td style="TEXT-ALIGN:right;VERTICAL-ALIGN:middle"><a href="{$confirmation_url}" target="_blank"><img border="0" alt="Click to Confirm" src="<?php echo USER_IMAGES_PATH;?>email-confirm.jpg"></a></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td style="PADDING-BOTTOM:25px;PADDING-LEFT:25px;PADDING-RIGHT:25px;BACKGROUND:#ffffff;VERTICAL-ALIGN:top;PADDING-TOP:30px"><table style="WIDTH:100%" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="LINE-HEIGHT:24px;FONT-SIZE:13px;VERTICAL-ALIGN:top">After confirming your email address: <strong></strong>
                        <ul>
                          <li><strong>Your Password will be Reset</strong></li>
                        </ul>
                        <a style="COLOR:#2e86cf" href="{$confirmation_url}" target="_blank">Click Here to Confirm Your Email</a></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td style="PADDING-BOTTOM:25px;LINE-HEIGHT:15px;PADDING-LEFT:25px;PADDING-RIGHT:25px;BACKGROUND:#e6f0ff;COLOR:#8397ae;FONT-SIZE:10px;PADDING-TOP:25px"><table style="LINE-HEIGHT:15px;FONT-FAMILY:Arial,sans-serif;COLOR:#8397ae;FONT-SIZE:10px" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="PADDING-RIGHT:14px;">If you did not make this request, or you don't want to add this email address, no further action is required.<br>
                        Please do not respond to this message.<br>
                        If you'd like to contact <span class="il"><a href="http://afterschoolprograms.us/" target="_new">afterschoolprograms.us</a></span><br>
                        <br>
                        <span class="il">afterschoolprograms.us</span></td>
                      
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td style="LINE-HEIGHT:0px;BACKGROUND:#e6f0ff;min-height:24px"><img alt="afterschoolprograms.us" src="<?php echo USER_IMAGES_PATH;?>email3-footer.jpg"></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>