<script type="text/javascript">
function cancelAction() {
    window.location.href = "<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), null, true); ?>";
}
</script>

<div id="left-col">

<h2><? echo $this->translate('FORGOT_PASSWORD_LABEL');?></h2>

  <form id="frmPassword" name="frmPassword" method="post" action="" class="form-horizontal">

		<?php if(!empty($this->message)){ ?>
        <?php if($this->messageType=='error'){?>
        <div class="msg error"><?php echo $this->message?></div>
        <?php } else { ?>
        <div class="msg confirm"><?php echo $this->message?></div>
        <?php }?>
        <?php } ?>
        
   <table border="0" id="customFields">
      <tbody>
        <tr>
          <td><label class="control-label" for="UserEmail"><? echo $this->translate('FORM_LABEL_USER_EMAIL');?> :</label></td>
          <td><?php echo $this->objForm->user_email;?></td>
    </tr>
		<tr>
        <td></td>    
         <td><?php echo $this->objForm->submit;?> <?php echo $this->objForm->cancel;?></td>
       </tr>
      </tbody>
      </table> 
  </form>
</div>
