<div id="left-col">

<h2>User Login</h2>

<a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_HOME');?></a>&nbsp;>>&nbsp;<?php echo $this->translate('FRONT_LABEL_LOGIN');?>


<?php if(!empty($this->message)){ ?>
<?php if($this->messageType=='error'){?>
<div class="errormsg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
<?php }?>
<?php } ?>
  <form id="frmLogin" name="frmLogin" method="post" action="" class="form-horizontal">
  
   <table border="0" id="customFields">
      <tbody>
        <tr>
          <td><label class="required" for="email"><?php echo $this->translate('ADMIN_FORM_LABEL_LOGIN_EMAIL');?></label></td>
      	  <td><?php echo $this->objForm->email;?></td>
        </tr>
    <!-- .field -->
    
  		 <tr>
           <td><label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_FORM_LABEL_LOGIN_PASSWORD');?></label></td>
           <td><?php echo $this->objForm->password;?></td>
    	  </tr>
          <tr>
           <td></td>
           <td><a style="" href="<?php echo $this->url(array('controller'=>'user','action'=>'forgotpass','module'=>'default'), 'default', true); ?>" id="forgot_my_password">Forgot password?</a></td>
           </tr>
    <!-- .field -->
    		
     <tr>
     <td></td>
	 <td><?php echo $this->objForm->submit;?></td>
     </tr>
      <tr>
      <td></td>
      <td>
          <input type="button" id="btn" name="btn" class="btn" value="<?php echo $this->translate('FRONT_BUTTON_LABEL_REGISTRATION');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'user','action'=>'register'),'default',true)?>'" />
       </td>
       </tr>   
    </tbody>
        </table>
    <!-- .field -->
  </form>

<?php echo $this->fbbutton_data; ?>

</div>
<div id="right-col"> <?php echo $this->rightside; ?> </div>