<div id="left-col">
<h2>User Registration</h2>

<a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_HOME');?></a>&nbsp;>>&nbsp;<?php echo $this->translate('FRONT_LABEL_REGISTRATION');?>


<form id="PSForm" method="POST" enctype="multipart/form-data" class="form-horizontal">
  <?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>
   <table border="0" id="customFields">
      <tbody>
        <tr>
    	 <td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_FIRST_NAME');?> :</td>
          <td><?php echo $this->objForm->first_name;?></td>
     </tr>     
	 <tr>
    <td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_LAST_NAME');?> :</td>
    <td><?php echo $this->objForm->last_name;?></td>
  </tr>
  <tr>
    <td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_EMAIL');?> :</td>
    <td> <?php echo $this->objForm->email;?></td>
  </tr>
  <tr>
    <td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_CONFIRM_EMAIL');?> :</td>
    <td> <?php echo $this->objForm->conform_email;?></td>
  </tr>
  <tr>
    <td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_PASSWORD');?> :</td>
    <td> <?php echo $this->objForm->password;?></td>
  </tr>
  <tr>
    <td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_CONFIRM_PASSWORD');?> :</td>
    <td> <?php echo $this->objForm->conform_password;?></td>
  </tr>
  <tr>
    <td><?php echo $this->translate('FRONT_LABEL_PROPERTY_USER_OPTION');?> :</td>
    <td> <?php echo $this->objForm->user_option;?></td>
  </tr>
      <tr>
    <td><input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>" ></td>
	</tr>
    
 
  <!-- 1st column of main box ends here -->
  	
     <tr>
      <?php if($this->currentAction == 'Add') : ?>
      		<td></td>
      		<td><?php echo $this->objForm->add_btn;?>
      <?php else : ?>
      		<td></td>	
      		<td><?php echo $this->objForm->edit_btn;?>
      <?php endif;?>
      <input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('ADMIN_LINK_LABEL_REGISTRATIONUSER_BACK');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'','action'=>''),null,true)?>'" /></td>
 </tbody>
    </table>  
  <!-- box 2 BUTTONS-->
  
</form>


<?php echo $this->fbbutton_data; ?>
</div>

<div id="right-col">
	<div class="widget">
		<script type="text/javascript"><!--
			google_ad_client = "pub-8651736830870146";
			/* 160x600, wide skyscraper created 2/13/10 */
			google_ad_slot = "3476733769";
			google_ad_width = 160;
			google_ad_height = 600;
			//-->
		</script> 
		<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>
