<form id="PSForm" method="POST" enctype="multipart/form-data" class="form-horizontal">
  <?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>

  <div class="control-group">
    <label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_PASSWORD');?> :</label>
    <div class="controls"> <?php echo $this->objForm->password;?> </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFirstName"><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_CONFIRM_PASSWORD');?> :</label>
    <div class="controls"> <?php echo $this->objForm->conform_password;?> </div>
  </div>
  <div class="clr"></div>
  <div class="control-group">
    <div class="controls">
      <input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>" >
    </div>
  </div>
  
  <!-- 1st column of main box ends here -->
  
  <div class="control-group">
    <div class="controls">
      <?php if($this->currentAction == 'resetpassword') : ?>
      		<?php echo $this->objForm->add_btn;?>
      <?php else : ?>
      		<?php echo $this->objForm->edit_btn;?>
      <?php endif;?>
<!--      <input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('ADMIN_LINK_LABEL_REGISTRATIONUSER_BACK');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'','action'=>''),null,true)?>'" />
-->    </div>
  </div>
  
  <!-- box 2 BUTTONS-->
  
</form>
