<div id="left-col">
<h2>Change Password</h2>



<form id="PSForm" method="POST" enctype="multipart/form-data" class="form-horizontal">
  <?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>
   <table border="0" id="customFields">
      <tbody>
        <tr>
    		<td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_OLD_PASSWORD');?> :</td>
    		<td><?php echo $this->objForm->password;?></td>
  		</tr>
        <tr>
           <td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_NEW_PASSWORD');?> :</td>
           <td><?php echo $this->objForm->newpassword;?></td>
       </tr>    
	   <tr>
        <td><?php echo $this->translate('ADMIN_LABEL_REGISTRATION_RETYPE_PASSWORD');?> :</td>
    	<td><?php echo $this->objForm->retype_password;?></td>
	  </tr>
      	<tr>
         <td><input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>" ></td>
		</tr>
     <tr>
      <?php if($this->currentAction == 'Add') : ?>
      		<td></td>
      		<td><?php echo $this->objForm->add_btn;?>
      <?php else : ?>
      		<td></td>	
      		<td><?php echo $this->objForm->edit_btn;?>
      <?php endif;?>
      <input type="button" id="back" name="back" class="btn" value="<?php echo $this->translate('ADMIN_LINK_LABEL_REGISTRATIONUSER_BACK');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'','action'=>''),null,true)?>'" />
 </tbody>
    </table>  
    
</form>

</div>