			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Review Dashboard</a>
					</li>
				</ul>
				<hr>
			</div>
			
            
            
            
			<div class="row-fluid sortable">		
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="icon-user"></i><span class="break"></span><?php echo $this->translate('ADMIN_LABEL_REVIEW'); ?></h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th> <?php echo $this->translate('FRONT_LABEL_PROVIDER_NAME'); ?> </th>
                                  <th> <?php echo $this->translate('FRONT_LABEL_PROVIDER_EMAIL'); ?> </th>
								  <th> <?php echo $this->translate('ADMIN_LABEL_PROVIDER_RATING'); ?> </th>
								  <th> <?php echo $this->translate('ADMIN_LABEL_PROVIDER_COMMENTS'); ?> </th>
                                  <th> <?php echo $this->translate('ADMIN_LABEL_PROVIDER_PROVIDER_NAME'); ?> </th>
								  <th>Actions</th>
							  </tr>
						  </thead>   
						  <tbody>
                        
                       <?php //_pr($this->arrDataList,1); ?>
                        
                     <?php  if(count($this->arrDataList) < 1) : ?>
                            
                        <?php else: ?>    
							<?php foreach ( $this->arrDataList as $data ): ?>
							
							<tr id="<?php echo $data->id; ?>">
								<td><?php echo ($data->review_by);?></td>
								<td class="center"><?php echo ($data->email);?></td>
                                <td class="center"><?php echo ($this->arrRating_Type[$data->rating]);?></td>
                                <td class="center"><?php echo ($data->comments);?></td>
                                <td class="center"><?php echo ($data->provider_name);?></td>
								<td class="center">
                                <a class="btn btn-info" href="<?php echo $this->url(array('controller'=>'review','action'=>'reviewdetails','module'=>'admin','id'=>$data->id), null, true);?>">
										<i class="icon-edit icon-white"></i>  
									</a>
									<a class="btn btn-danger" href="#">
										<i class="icon-trash icon-white"></i> 
									</a>
								</td>
							</tr>
                            <?php
							endforeach;
							 endif; ?>
						  </tbody>
					  </table> 
                                 
					</div>
				</div><!--/span-->
			
			</div><!--/row-->

					<hr>
			<!-- end: Content -->
			