<div>
  <hr>
  <ul class="breadcrumb">
    <li> <a href="#">Home</a> <span class="divider">/</span> </li>
    <li> <a href="#">Review Details</a> </li>
  </ul>
  <hr>
</div>
<?php



		//global;
		
		//_pr($this->activity,1);
?>
<div class="row-fluid sortable">

  <div class="box span6">
    <div class="box-header">
      <h2><i class="icon-align-justify"></i><span class="break"></span>Review data</h2>
      <div class="box-icon"> <a href="#" class="btn-setting"><i class="icon-wrench"></i></a> <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a> <a href="#" class="btn-close"><i class="icon-remove"></i></a> </div>
    </div>
    <div class="box-content">
      <table cellpadding="0" cellspacing="0" border="0" class="table">
        <tbody>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_NAME');?></td>
            <td><?php echo $this->arrDataList['review_by'];?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('FRONT_LABEL_PROVIDER_EMAIL');?></td>
            <td><?php echo $this->arrDataList['email'];?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_PROVIDER_RATING');?></td>
            <td><?php echo $this->arrRating_Type[$this->arrDataList['rating']];?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_PROVIDER_COMMENTS');?></td>
            <td><?php echo $this->arrDataList['comments']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_PROVIDER_PROVIDER_NAME');?></td>
            <td><?php echo $this->arrDataList['provider_name']; ?></td>
          </tr>
          <tr>
            <td><?php echo $this->translate('ADMIN_LABEL_PROVIDER_TABLE');?></td>
            <td><?php echo $this->arrDataList['table']; ?></td>
          </tr>

          <!--    <tr>
      <td><?php echo $this->translate('');?></td>
      <td><?php echo $this->arrDataList['']; ?></td>
    </tr>
-->
        </tbody>
      </table>
    </div>
  </div> 
</div>

			<div class="box span6">
						<p>
                        
                        <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'review','action'=>'approve','status'=>'approve','id'=>$this->id),null,true)?>">
							<button class="btn btn-large btn-primary">Approved</button></a>
                        <a href="<?php echo $this->url(array('module'=>'admin','controller'=>'review','action'=>'approve','status'=>'disapprove','id'=>$this->id,'status'=>'disapprove'),null,true)?>">    
							<button class="btn btn-large btn-primary">Disapprove</button></a>
						</p>
				</div>
                
<div class="clr">&nbsp;</div>
<input type="hidden" id="id" name="id" value="<?php echo $this->id; ?>">
