<?php //_pr($this->arrData,1); ?>
<div id="left-col">
	<a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>">Home</a>   &gt;&gt; Create Review
	<h2>Create your review for: </h2>
	<?php echo $this->provider->name ?><br />
	<?php echo $this->provider->address . " " . $this->provider->city . " " . $this->provider->state . " " . $this->provider->zip ?><br />
	<div class="widget">
		<h4><?php echo $this->message ?></h4>
		<?php //echo $this->form ?>
	</div>
</div>
<div id="right-col">
	<div class="widget">
		<script type="text/javascript"><!--
			google_ad_client = "pub-8651736830870146";
			/* 160x600, wide skyscraper created 2/13/10 */
			google_ad_slot = "3476733769";
			google_ad_width = 160;
			google_ad_height = 600;
			//-->
		</script> 
		<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>
