<div id="left-col">
	<a href="/">Home</a>   &gt;&gt; Verify Review
	<h2>Verify your review for: </h2>
	<?php echo $this->provider->name ?><br />
	<?php echo $this->provider->address . " " . $this->provider->city . " " . $this->provider->state . " " . $this->provider->zip ?><br />
	<div class="widget">
		<h4><?php echo $this->message ?></h4>
		<?php echo $this->form ?>
	</div>
</div>
<div id="right-col">
	<div class="widget">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-8651736830870146";
		/* 300x250, created 6/6/11 */
		google_ad_slot = "5507651968";
		google_ad_width = 300;
		google_ad_height = 250;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>
