<?php $this->InlineScript()->captureStart()?>
 function cancelAction() {
    window.location.href = '<?php echo $this->url(array('controller'=>'welcome','action'=>'index','module'=>'admin'), null, true); ?>';
}
<?php $this->InlineScript()->captureEnd()?>
 <h1 class="page-title"><?=$this->translate('LABEL_SETTING_FORM')?></h1>

   		<div class="table-container">
		<div align="center">
            <table border="0" cellspacing="0" cellpadding="0">
            <tr>
            <td align="right" width="500"></td>
            <td align="right"><div class="alignright"> <b><font color="red">*</font></b>&nbsp;<?=$this->translate('LABEL_INDICATES_MANDATORY')?></div></td>
          </tr>
              <? if(!empty($this->message)){ ?>
				<tr>
				  <td width="100%" colspan='3' class="txt-header">
						<?php if($this->messageType=='error'){?>
				  			<div class="errormsg">
   				<?php echo $this->message?>
   				 </div> 
				  		<?php }elseif ($this->messageType=='confirm'){?>
				  			<div class="sucessmsg">
   				<?php echo $this->message?>
   				 </div> 
				  		<?php }?>
				   </td>
				   <td>&nbsp;</td>
				</tr>
			  <?php } ?>
            </table>
			  	  
           	  </div>
               				 <div class="spacer"> </div>
   		<table cellspacing="0" cellpadding="0" border="0" width="100%" class="form-table" align="center">
          <tbody>
              <form method="post" name="frmGeneralSetting" id="frmGeneralSetting"  >
          
		  <?  for( $i= 0 ; $i< count( $this->arrData); $i++ ){ 
					 		$temp = $this->arrData[$i]['settings_varname'] ;?>
		  <tr>
     	       <td align="right" width="150"><b><font color="red">*</font></b>&nbsp; <?php echo $this->arrData[$i]['settings_title'] ;?> : </td>
     	       <td><label><?php echo  $this->objForm->$temp ;?></label></td>
          </tr>
          <? }?>
		  

          <tr><td height="12"></td><td></td></tr>
          
          <tr>
          	<td colspan="2">
            <div class="bdr_top clearfix">
			<div class="alignright"><label class="submit-sml marg10"><?php echo $this->objForm->submit;?></label></div> 		
             <div class="alignleft"><label class="submit-sml"><?php echo $this->objForm->cancel;?></label></div>
            <div class="alignnone"></div>
			</div>
            </td>
          </tr>
          </tbody></form>
        </table>
   		</div>
