<style>

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
	text-decoration:none;
}

.image{
	
	padding: 22px 239px;	
}

.url{
	padding: 0 297px;
}
.url p{
	color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
	
}

.home{
	padding: 0 415px 5px;	
}

</style>

<? if ('production' != $this->env): ?> 

<div class="image">
<img class="img-icon-size" name="delete_link" id="delete_link" src="<?php echo USER_IMAGES_PATH; ?>404-error.jpg" />
</div>

<div class="url">
<p>The requested URL was not found on this server. </p><br />
</div>

<div class="home">
<p>
<a class="btn" href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_HOME');?></a>
</p>
</div>
 
<!--	<h1>An error occurred</h1> 
	<h2><?//= $this->message ?></h2> 
    <h3>Exception information:</h3> 
    <p> 
        <b>Message:</b> <?//= $this->exception->getMessage() ?> 
    </p> 

    <h3>Stack trace:</h3> 
    <pre><?//= $this->exception->getTraceAsString() ?></pre> 

    <h3>Request Parameters:</h3> 
    <pre><?// var_dump($this->request->getParams()) ?></pre> 
-->
<?php else: ?>
<div>
<p><h4>Not Found</h4></p><br />

<p>The requested URL /blah was not found on this server. </p><br />
<p><a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>"><?php echo $this->translate('FRONT_LABEL_HOME');?></a></p>
</div>
<? endif ?>
