<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Contactdetails</a>
					</li>
				</ul>
				<hr>
			</div>

<?php

		global $Contactstatust;
		
?>
<table cellpadding="0" cellspacing="0" border="0" class="table table-hover">
  <tbody>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_CONTACT_NAME');?></td>
      <td><?php echo $this->arrDataList['name'];?></td>
    </tr>  
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_CONTACT_EMAIL');?></td>
      <td><?php echo $this->arrDataList['email'];?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_CONTACT_SUBJECT');?></td>
      <td><?php echo $this->arrDataList['subject'];?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_CONTACT_BODY');?></td>
      <td><?php echo $this->arrDataList['body']; ?></td>
    </tr>
    <tr>
      <td><?php echo $this->translate('ADMIN_LABEL_CONTACT_STATUS');?></td>
      <td><?php echo $Contactstatust[$this->arrDataList['status']]; ?></td>
    </tr>
 </tbody>
</table>
	<div class="clr">&nbsp;</div>
<input type="hidden" id="id" name="id">

