
<div id="content" class="clearfix">
	<div id="right">
		<div class="widget">
			<h4>Home Daycare Search</h4>
			<?php echo $this->search_form ?>
		</div>
		<div class="widget">
			<h4>Top <?php echo $this->state->state_name ?> Counties</h4>
			<?php  foreach ($this->counties as $cityRow): ?>
			<a href="/<?php echo $this->state->statefile?>_homecare/<?php echo $cityRow->county_file?>_county"><?php echo ucwords(strtolower($cityRow->county)) ?> Home Daycares</a> 
			<?php endforeach;?>
			<a href="/<?php echo $this->state->statefile?>_homecare">More <?php echo $this->state->state_name?> Counties</a>
		</div>
	</div>
	
	<div id="left">
						
		<a href="/">Home</a> 
			&gt;&gt; <a href="/homecare">Home Daycare</a> 
			&gt;&gt; <?php echo $this->state->state_name ?> Home Daycare
			
		<div>Below are all cities in <?php echo $this->state->state_name?> in which we have at least one home daycare listed. 
		Select the city in which you want to look for a home daycare.   
		</div>
		<div>
			<table width="100%">
			<tr>
				<td nowrap>
				<?php $i = 0; $recordCount = ceil(count($this->cities)/3); foreach ($this->cities as $countyRow): ?>
				<?php $i++; if ($countyRow->homebase_count > 0) : ?>
					<a href="/<?php echo $this->state->statefile ?>_homecare/<?php echo $countyRow->filename ?>_city"><?php echo ucwords(strtolower($countyRow->city)) ?> </a> (<?php echo $countyRow->homebase_count?> )<br />
				<?php else:  ?>
					<?php echo ucwords(strtolower($countyRow->county)) ?> County Home Daycares<br />
				<?php endif; ?>
				<?php if ($i == $recordCount) : $i=0 ?>
				</td>
				<td valign="top">
				<?php endif;?>
				<?php endforeach;?>
				</td>
			</tr>
			</table>
		</div>

	</div>
</div>
