<?php //_pr($this->facilities,1); ?>
<div id="left-col">
<a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>">After School Programs</a> &gt;&gt; 
	<a href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=> $this->state['statefile']), 'state_name', true);?>"><?php echo $this->state['state_name'] ?> After School</a> &gt;&gt; 
	<?php echo ucwords(strtolower($this->city['city'])) ?> After School Care<br/>
	<h2><?php echo ucwords(strtolower($this->city['city'])) ?> After School Care Programs </h2><br/>
	<p>Below is the current after school care listing we have in <?php echo ucwords(strtolower($this->city['city'])) ?>.</p>
	
	<div id="adcontainer1"></div>
	<script src="http://www.google.com/adsense/search/ads.js" type="text/javascript"></script> 
	<script type="text/javascript" charset="utf-8"> 
	var pageOptions = { 
	  'pubId': 'pub-8651736830870146',
	  'query': '<?php $randomString = array ("afterschool", "summer camp", "tutoring","after school"); echo strtolower($this->city['city']) . " " . $randomString[rand(0,3)]?>',
	  'channel': '6316377572',
	  'hl': 'en'
	};

	var adblock1 = { 
	  'container': 'adcontainer1',
	  'width': '420px',
	  'colorTitleLink': '215C97'
	};

	new google.ads.search.Ads(pageOptions, adblock1);
	</script>
	
	<?php foreach ($this->facilities as $facilityRow): ?>
    
        		<p><a href="<?php echo $this->url(array('controller'=>'listing','action'=>'detail','module'=>'default','id'=> $facilityRow['id'],'filename'=> $facilityRow['filename']),'listingdetails','escape',false,true);?>"><?php echo $this->afterschoolName($facilityRow['name'],$facilityRow['location']) ?></a><br /><?php echo $facilityRow['address'] . ", " . $facilityRow['city'] . " " . $facilityRow['state'] . " - " . $facilityRow['phone'] ?></p>

    
		<!--<p><a href="/program-<?php echo $facilityRow['id'] . "-" . $facilityRow['filename']?>.html"><?php echo $this->afterschoolName($facilityRow['name'],
		$facilityRow['location']) ?></a> <br/> <?php echo $facilityRow['address'] . ", " . $facilityRow['city'] . " " . $facilityRow['state'] . " - " . $facilityRow['phone'] ?> </p>-->
	<?php endforeach;?> 
	
</div>

<div id="right-col"> <?php echo $this->rightside; ?> </div>
