<div id="content" class="clearfix">
<div id="right">
	<div class="widget">
		<script type="text/javascript"><!--
		google_ad_client = "pub-8651736830870146";
		/* 160x600, wide skyscraper created 2/13/10 */
		google_ad_slot = "3476733769";
		google_ad_width = 160;
		google_ad_height = 600;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>
<div id="left">
	<a href="/">Home</a>  
		&gt;&gt; <a href="/<?php echo $this->state->statefile ?>_directory.html"><?php echo $this->state->state_name?> Home Daycare</a>
		&gt;&gt; <?php echo ucwords(strtolower($this->county->county)) ?> County Home Daycare
	<div><h2>Home Daycares in <?php echo ucwords(strtolower($this->county->county)) ?> County </h2></div>
	<p>
	<?php if ($this->county->provider_count>50) : ?>
		There are <?php echo number_format($this->county->provider_count) ?> home daycares in <?php echo ucwords(strtolower($this->county->county)) ?> County.  Below are the first 50 provider in the list.<br />
	<?php else : ?>
		Below is the list of <?php echo $this->county->provider_count ?> home daycares in <?php echo ucwords(strtolower($this->county->county)) ?> County. <br />
	<?php endif; ?>  
	<table width="100%">
	<tr class="d<?php echo $i % 2; $i++; ?>">
		<th >Name</th>
		<th >Address</th>
		<th >Phone</th>
		<th >Type</th>
		<th >Capacity</th>
	</tr>
	<?php $i = 0; foreach ($this->providers as $provider): ?>
	<tr class="d<?php echo $i % 2; $i++; ?>">
		<td width="30%">
			<?php echo $provider->name ?>
		</td>
		<td >
			<?php if($provider->address != "") :?>
			<?php echo ucwords(strtolower($provider->address))  ?> <br />
			<?php endif; ?>
			<?php echo ucwords(strtolower($provider->city)) . ", " . $provider->state . " " . $provider->zip ?>
		</td>
		<?php if($provider->area_code != "") :?>
		<td ><?php echo "(" .$provider->area_code . ") " .$provider->phone ?></td>
		<?php else: ?>
		<td ><?php echo $provider->phone ?></td>
		<?php endif; ?>					
		<td width="30%">
			<?php echo $this->homeDaycareType($provider->type)?>
		</td>
		<td align="right">
			<?php if($provider->capacity > 0) :?>
				<?php echo $provider->capacity ?>
			<?php else: ?>
				N/A
			<?php endif;?>
		</td>
	</tr>
	<?php endforeach;?>
	</table>
</div>
</div>
