<?php $this->headScript()->appendFile("http://maps.google.com/maps/api/js?sensor=false"); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/tiny_mce/tiny_mce.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/tiny_mce/tiny_mce_activate.js'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/lightbox.css'); ?>
<script src="../public/js/lightbox.js"></script>

<script type="text/javascript">

$(document).ready(function() {
   
  
    function initialize(address_lat,address_lng) {
			
    	var latlng = new google.maps.LatLng(address_lat,address_lng);

    	var mapOptions = {

	  	      center: latlng,

	  	      zoom: 16,

	  	      mapTypeId: google.maps.MapTypeId.ROADMAP,

	  	      streetViewControl: true

	  	    }; 

	    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

	    var marker = new google.maps.Marker({

	        position: latlng, 

	        map: map,

	        title:"<?php echo $this->program['name']?>!"

	    });

		

    }
	<?php if ($this->program['lat'] <> '' && $this->program['lat'] <> 0): ?>
	//call the intialize function
	initialize(<?php echo $this->program['lat'] ?> , <?php echo $this->program['lng'] ?>);
	
	<?php else : ?>
	
	 $.getlatlng = function() {
		geocoder = new google.maps.Geocoder();
		
		var address = ('<?php echo $this->program['address'] ?>,<?php echo $this->program['city'] ?>,<?php echo $this->program['state'] ?>');		
			//alert(address);						
		geocoder.geocode( 
			{ 'address': address}, 
			function(results, status) {				
				if (status == google.maps.GeocoderStatus.OK) {	
					
					var address_lat = results[0].geometry.location.lat().toFixed(6);
					var address_lng	= results[0].geometry.location.lng().toFixed(6);
					
					//call the intialize function
					initialize(address_lat,address_lng);
					
				} else {
						return false;
					
					
				}				
			}
		)
	  return false;				        
    };
	
	$.getlatlng();
	
	<?php endif;?>

	jQuery("#PSForm").validationEngine();
	
});

</script>

<?php //_pr($this->program,1); ?>

<div id="left-col">
	
	<a href="<?php echo $this->url(array('controller'=>'listing','action'=>'state','module'=>'default','statename'=> $this->state['statefile']), 'state_name', true);?>"><?php echo $this->state['state_name'] ?> After School Programs</a> &gt;&gt;
	<a href="<?php echo $this->url(array('controller'=>'listing','action'=>'city','module'=>'default','statefile'=> $this->state['statefile'],'filename'=> $this->city['filename'],'city'=> ucwords(strtolower($this->city['city']))), 'city_name', true);?>"><?php echo ucwords(strtolower($this->city['city'])) ?> After School Care</a> &gt;&gt;
	<?php echo ucwords(strtolower($this->program['name'])) ?>
	<div><h2><?php echo $this->program['name'] . ", " . $this->program['city'] . " " . $this->program['state']?> </h2></div>
	
	Program Name: <b><?php echo $this->afterschoolName($this->program['name'],$this->program['location']) ?></b><br />
	Program Address: <?php echo $this->program['address'] . ", " . $this->program['city'] . " " . $this->program['state'] . " " . $this->provider['zip']?><br />
	Contact Phone: <?php echo $this->formatPhoneNumber($this->program['phone'], $this->program['phone_ext']) ?><br >
	<?php if($this->program['website'] <> ""):?>
	Website: <?php echo $this->formatURL($this->program['website']) ?><br />
	<?php endif;?>
	<?php if($this->program['introduction'] <> ""):?>
	Detail: <?php echo $this->program['introduction'] ?><br />
	<?php endif;?>
    
 <?php if(isset($this->program['claim']) && $this->program['claim'] == '0' || isset($this->program['user_id']) && $this->program['user_id'] == $this->user_id):?>
          <input type="button" id="edit_btn" name="edit_btn" class="btn" value="<?php echo $this->translate('FRONT_BUTTON_LABEL_EDIT');?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'provider','action'=>'edit','perms'=>'activity','id'=>$this->program['id']),'default',true)?>'" />
  <?php endif;?>
    
	<table>
	<tr>
	<td><script type="text/javascript"><!--
	google_ad_client = "pub-8651736830870146";
	/* 336x280, created 1/9/10 */
	google_ad_slot = "9653404904";
	google_ad_width = 336;
	google_ad_height = 280;
	//--> 
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script></td>
	<td><div id="map_canvas" style="width: 330px; height: 280px"></div></td>
	</tr>
	</table>
  <?php if(count($this->images)>0) : ?>
  <div> <strong><?php echo $this->program['name'] ?> Photos:</strong> (Click to enlarge)<br/>
    <?php foreach ($this->images as $image): ?>
    <?php if ($image['imagename'] != '' && file_exists(AFTERSCHOOL_ROOT_IMAGE_PATH.$image['provider_id'].'/'.$image['imagename']) ) : ?>
    <a href="<?php echo AFTERSCHOOL_IMAGE_PATH.$image['provider_id'].'/'.$image['imagename'];?>" rel="lightbox[roadtrip]" > <img src="<?php echo AFTERSCHOOL_IMAGE_PATH.$image['provider_id'].'/'.$image['imagename'];?>" border="0" width="150" height="150" alt="<?php echo $image['altname'] ?>"/> </a>
    <?php endif; ?>
    <?php endforeach; ?>
  </div>
  <br/>
  <?php endif;?>

<?php if(count($this->reviews)>0) : ?>
		Reviews: There are <?php echo count($this->reviews)?> reviews for this provider.
		<div align="center">
		<table width="90%" >
		<?php foreach ($this->reviews as $reviewRow): ?>
          <tr>
            <td colspan="2"> Rated <?php echo $reviewRow['rating'] ?> star by <?php echo $reviewRow['review_by'] ?> on <?php echo $reviewRow['date'] ?></td>
          </tr>
          <tr>  
              <td>Comment:</td> <td><?php echo stripslashes($reviewRow['comments']); ?></td>
          </tr>
		<?php endforeach;?>
		</table>
		</div>
		Share your experience by <a href="#review">review </a>this childcare provider.
	<?php else : ?>
		Reviews: Be the first to <a href="#review">review </a>this childcare provider.
	<?php endif; ?>
	
	<p>
	<a name="review"></a>Share your experience with <?php echo ucwords(strtolower($this->provider['name'])) ?>, whether your child attended, you evaluated their services, or you worked there. You can help others by writing a review.
	</p>
	<?php //echo $this->form ?>
    

  <?php if(!empty($this->message)){ ?>
  <?php if($this->messageType=='error'){?>
  <div class="msg error"><?php echo $this->message?></div>
  <?php } else { ?>
  <div class="msg confirm"><?php echo $this->message?></div>
  <?php }?>
  <?php } ?>
  
  
  
  <form id="PSForm" method="POST" enctype="multipart/form-data" class="form-horizontal">
    <table border="0" id="customFields">
      <tbody>
        <tr>
          <td><label class="required" for="email"><?php echo $this->translate('FRONT_LABEL_REVIEW_EMAIL');?>:</label></td>
          <td><?php echo $this->objForm->email;?></td>
        </tr>
        <tr>
          <td><label class="required" for="name"><?php echo $this->translate('FRONT_LABEL_REVIEW_NAME');?>:</label></td>
          <td><?php echo $this->objForm->name;?></td>
        </tr>
        <tr>
          <td><label class="required" for="subject"><?php echo $this->translate('FRONT_LABEL_REVIEW_RATING');?>:</label></td>
          <td><?php echo $this->objForm->rating;?></td>
        </tr>
        <tr>
          <td><label class="required" for="message"><?php echo $this->translate('FRONT_LABEL_REVIEW_MESSAGE');?>:</label></td>
          <td><?php echo $this->objForm->comments;?></td>
        </tr>
        <!--    <dt id="challenge-label">
      <label class="required" for="challenge"><?php echo $this->translate('FRONT_LABEL_REVIEW_CAPTCHA');?></label>
    </dt>
    <dd id="message-challenge"> <?php echo $this->objForm->challenge;?> </dd>--> 
        
        <?php echo $this->objForm->id;?> <?php echo $this->objForm->type;?>
        <tr>
          <td></td>
          <td><?php echo $this->objForm->Submit;?></td>
        </tr>
      </tbody>
    </table>
  </form>
    
        <br>

</div>
<div id="right-col">
 <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=childcarecenter"></script>
<!-- AddThis Button END --><br/>
	<div class="widget">
		<script type="text/javascript"><!--
		google_ad_client = "pub-8651736830870146";
		/* 160x600, wide skyscraper created 2/13/10 */
		google_ad_slot = "3476733769";
		google_ad_width = 160;
		google_ad_height = 600;
		//-->
		</script> 
		<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>

</div>