<div id="content" class="clearfix">
<div id="right">
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style">
	<a class="addthis_button_facebook"></a>
	<a class="addthis_button_google"></a>
	<a class="addthis_button_twitter"></a>
	<a class="addthis_button_email"></a>
	<a class="addthis_button_favorites"></a>
	<a class="addthis_button_print"></a>
	<span class="addthis_separator">|</span>
	<a href="http://addthis.com/bookmark.php?v=250&amp;username=childcarecenter" class="addthis_button_expanded">More</a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=childcarecenter"></script>
	<!-- AddThis Button END -->
	<div class="widget">
		<h4>Home Daycare Search</h4>
		<?php echo $this->search_form ?>
	</div>
	<div id="fb-root"></div>
	<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '155446947822305', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
<fb:like-box profile_id="320100121478" width="220" stream="false" connections=1 height="200"></fb:like-box>
	
	<div class="widget">
		<h4>Top Family Daycare Searches</h4>
		<?php  foreach ($this->cities as $cityRow): ?>
		<a href="<?php echo Zend_Registry::get("url") ?>/<?php echo $cityRow->statefile?>_homecare/<?php echo $cityRow->filename?>_city"><?php echo ucwords(strtolower($cityRow->city)) . ", " . $cityRow->state ?> Home Daycare </a> 
		<?php endforeach;?>
	</div>
</div>
<div id="left">
	<a href="<?php echo Zend_Registry::get("url") ?>/">Home</a>  &gt;&gt; Home Daycares
	<p>Parents agonize over the decision to leave their child in another person's care when they go to work. Thousands of choices for child care abound from preschools to institutional day care facilities. A more intimate option is a home daycare, also called family daycare. These take place inside homes rather than businesses, and more closely resemble play groups of other young children from the surrounding neighborhood. Unlike commercial centers or preschools, home child care offers a smaller child to "teacher" ratio, enabling each child to receive the highest level of care possible without his parents.</p>
	
	<p>ChildcareCenter.us has a listing of over <?php echo number_format($this->summary->homebase_count) ?> home daycares, with about 10 new providers added to our database daily.  Click on the Map below to find a <strong>Home Daycare</strong> in your state.</p>
	<div align="center">
	<map name="map" id="map">
		<?php foreach ($this->states as $stateRow): ?> 
			<area shape="poly" alt="<?php echo $stateRow->state_name?> Family Daycare" title="<?php echo $stateRow->state_name?> Home Daycare (<?php echo number_format($stateRow->homebase_count) ?> providers)" coords="<?php echo $stateRow->coords ?>" href="<?php echo Zend_Registry::get("url") ?>/<?php echo $stateRow->statefile?>_homecare" />
		<?php endforeach;?>
	</map>
	<img usemap="#map" src="/static/images/usmap.jpg" border="0" alt="Map of Home Daycare in the United States" name="usimage" />
	</div><br/>
	<p>When researching whether to place a child with a home daycare, the parents should check their state's guidelines governing the licensing of family daycare providers. Not all states require the providers to hold a license, and some states only require a license for providers caring for six or more children. Looking into the state's regulations and then following up by researching the credentials of the home child care provider will ensure the safety of the child.</p>
	<p>Parents should also know that many family daycare providers participate in state subsidies program which can make paying for the cost easier for those short on funds. 

	
	<table class="widget">
	<tr>
		<td colspan="2"><h2>Latest updates to home daycare database:</h2></td>
	</tr>
	<?php foreach ($this->providers as $provider): ?> 
	<tr >
	<td width="40%" valign="top">
		<a href="<?php echo Zend_Registry::get("url") ?>/provider_detail/<?php echo $provider->filename ?>"><?php echo $provider->name ?></a> <br/>
		<?php echo ucwords(strtolower($provider->city)) . ", " . $provider->state . " " . $provider->zip ?><br/>
		<?php if($provider->area_code != "") :?>
			<?php echo "(" .$provider->area_code . ") " .$provider->phone ?>
		<?php else: ?>
			<?php echo $provider->phone ?>
		<?php endif; ?>
	</td>
	<td valign="top"><strong>Description:</strong> <?php echo $provider->introduction?></td>
	</tr>
	<?php endforeach;?>
	</table>
</div>
</div>
