<div id="content" class="clearfix">
<div id="right">
	<?php if(count($this->zipcodes)>1): ?>
	<div class="widget">
		<h4>Childcare Center Search </h4>
		ZIP Codes in <?php echo ucwords(strtolower($this->state->state_name)) ?>
		<form id="search" method="post" action="/search">
			<input type="hidden" name="type" value="home" id="type">
			<br/>
			<select id="zip" name="zip" style="width:560">
			<option value="">&nbsp; -Select- &nbsp;</option>
			<?php  foreach ($this->zipcodes as $zipcodeRow): ?>
				<?php if($zipcodeRow->center_count>0):?>
				<option value="<?php echo $zipcodeRow->zipcode?>">&nbsp; Zip Code <?php echo $zipcodeRow->zipcode ?> &nbsp; &nbsp;</option>
				<?php endif; ?>
			<?php endforeach;?>
			</select><br/><br/>
			<input type="submit" name="search" id="search" value="Search">
		</form><br/>
	</div>
	<?php endif;?>
	<div class="widget">
	<?php if($this->county->center_count>=10 && count($this->cities)>1): ?>
		<h4>Cities in <?php echo ucwords(strtolower($this->county->county)) ?> County</h4>
		<?php  foreach ($this->cities as $cityRow): ?>
		<a href="/<?php echo $this->state->statefile?>/<?php echo $cityRow->filename?>_childcare"><?php echo ucwords(strtolower($cityRow->city)) ?> Childcare </a> 
		<?php endforeach;?>
	<?php else: ?>
		<script type="text/javascript"><!--
		google_ad_client = "pub-8651736830870146";
		/* 160x600, wide skyscraper created 2/13/10 */
		google_ad_slot = "3476733769";
		google_ad_width = 160;
		google_ad_height = 600;
		//-->
		</script> 
		<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	<?php endif;?>
	</div>
</div>
<div id="left">
	<a href="/state">Home Daycare</a> &gt;&gt;
	<?php echo $this->state->state_name?> Home Daycares
	<p>
	<?php if ($this->state->homebase_count>20) :?>
	There are <?php echo number_format($this->state->homebase_count) ?> home daycare in <?php echo ucwords(strtolower($this->state->state_name)) ?>.  Use the ZIP code dropdown on the right hand side to narrow the childcare list.<br />
	<?php else :?>
	Below are the list of <?php echo $this->state->homebase_count ?> home daycare in <?php echo ucwords(strtolower($this->state->state_name)) ?>.<br />
	<?php endif; ?>
	
	<?php if ($this->state->homebase_count<=20 && $this->state->center_count>0) :?>  
		You may also want to checkout <?php echo $this->state->center_count ?> other home daycare providers in <a href="/<?php echo $this->state->statefile ?>_homecare"><?php echo ucwords(strtolower($this->state->state_name)) ?> Home Daycares</a>.<br />
	<?php elseif($this->state->center_count>0): ?>
		If you're looking for a <a href="/state">Childcare Centers</a> in <?php echo $this->state->state_name ?>, click on <a href="/state/<?php echo $this->state->statefile ?>"><?php echo ucwords(strtolower($this->state->state_name)) ?> Childcare Centers</a>.<br />  
	<?php endif; ?>
	
	<?php if(count($this->referalResources)>=1): ?>
	If you need help selecting the right child care center, contact your local agency <a href="#agency">here</a>.
	<?php endif; ?>
	</p>
	<table width="100%">
	<tr class="d<?php echo $i % 2; $i++; ?>">
		<th >Name</th>
		<th >Address</th>
		<th >Phone</th>
		<th >Capacity</th>
	</tr>
	<?php $i = 0; foreach ($this->providers as $provider): ?>
	<tr class="d<?php echo $i % 2; $i++; ?>">
		<td width="40%">
			<?php if($provider->approved==2):?>
				<a href="/provider_detail/<?php echo $provider->filename ?>"><?php echo $provider->name ?></a>
			<?php else: ?>
				<?php echo $provider->name ?>
			<?php endif; ?>
		</td>
		<td >
			<?php if($provider->address != "") :?>
			<?php echo ucwords(strtolower($provider->address))  ?> <br />
			<?php endif; ?>
			<?php echo ucwords(strtolower($provider->city)) . ", " . $provider->state . " " . $provider->zip ?>
		</td>
		<?php if($provider->area_code != "") :?>
		<td ><?php echo "(" .$provider->area_code . ") " .$provider->phone ?></td>
		<?php else: ?>
		<td ><?php echo $provider->phone ?></td>
		<?php endif; ?>					
		<td align="right">
			<?php if($provider->capacity > 0) :?>
				<?php echo $provider->capacity ?>
			<?php else: ?>
				N/A
			<?php endif;?>
		</td>
	</tr>
	<?php endforeach;?>
	</table>
	<?php if(count($this->referalResources)>=1): ?>
	<table width="100%" class="widget">
	<tr>
		<td colspan="2"><a name="agency"></a><h2><?php echo ucwords(strtolower($this->state->state_name)) ?> Childcare Referal Agencies:</h2></td>
	</tr>
	<?php  foreach ($this->referalResources as $rrRow): ?> 
	<tr class="d<?php echo $i % 2; $i++; ?>">
	<td width="40%" valign="top">
		<?php echo $rrRow->name ?><br />
		<?php echo $rrRow->address ?><br />
		<?php echo $rrRow->city . " " . $rrRow->state . " " . $rrRow->zip ?><br />
	</td>
	<td valign="top">
		Call <?php echo $rrRow->phone ?> <?php if($rrRow->tollfree<>""):?>or Toll Free <?php echo $rrRow->tollfree ?><?php endif;?><br />
		<?php if($rrRow->email<>""):?>
		Email: <?php echo $rrRow->email ?><br />
		<?php endif;?>
		For more information, visit <a target="blank" href="<?php echo $rrRow->website ?>"><?php echo $rrRow->website ?></a>
	</td>
	</tr>
	<?php endforeach;?>
	</table>
	<?php endif; ?>
</div>
</div>