<div id="left-col">
<a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), 'default', true);?>">After School Programs</a> &gt;&gt; 
	<?php echo $this->state['state_name'] ?> After School Care <br/>
	<h2><?php echo $this->state['state_name'] ?> After School Programs </h2>
	<p>Are you looking for after school programs in the <?php echo $this->state['state_name'] ?> area?  
		Simply pick the city that is closest to your particular locale, and you'll be able to look through a listing of after school programs and summer camps in that city.  
		You'll be surprised at the wide variety of after school programs that we have on offer - it's much easier to find what you are looking for when there is a list of programs in the same place to choose from.  
		Check out the many different after school and summer camp offerings in <?php echo $this->state['state_name'] ?> - your children will thank you!</p>
	<p>We currently have after school care listing for cities below.  We will have more data soon.</p>
	<table width="100%">
	<tr>
		<td nowrap>
        <?php //_pr($this->cities,1); ?>
	
		<?php $i = 0; $recordCount = ceil(count($this->cities)/3); 
		
		foreach ($this->cities as $countyRow): ?>
        
        
		<?php $i++; 
		if ($countyRow['afterschool_count'] > 0) : ?>
		
		<a href="<?php echo $this->url(array('controller'=>'listing','action'=>'city','module'=>'default','statefile'=> $this->state['statefile'],'filename'=> $countyRow['filename'],'city'=> ucwords(strtolower($countyRow['city']))), 'city_name','escape',false, true);?>"><?php echo ucwords(strtolower($countyRow['city'])) ?></a> (<?php echo $countyRow['afterschool_count']?>)<br />
        
        
        	<!--<a href="/<?php echo $this->state['statefile'] ?>-city/<?php echo $countyRow['filename'] ?>-care.html"><?php echo ucwords(strtolower($countyRow['city'])) ?> </a> (<?php echo $countyRow['afterschool_count']?>)<br />-->
		
		<?php endif; ?>
        
		<?php if ($i == $recordCount) : $i=0 ?>
        </td>
        
		<td valign="top">
        
		<?php endif;?>
        
		<?php endforeach;?>
        </td>
	</tr>
	</table>
</div>
<div id="right-col"> <?php echo $this->rightside; ?> </div>
