<div id="content" class="clearfix">
<div id="right">
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style">
	<a class="addthis_button_facebook"></a>
	<a class="addthis_button_myspace"></a>
	<a class="addthis_button_google"></a>
	<a class="addthis_button_twitter"></a>
	<a class="addthis_button_email"></a>
	<a class="addthis_button_favorites"></a>
	<a class="addthis_button_print"></a>
	<span class="addthis_separator">|</span>
	<a href="http://addthis.com/bookmark.php?v=250&amp;username=childcarecenter" class="addthis_button_expanded">More</a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=childcarecenter"></script>
	<!-- AddThis Button END -->
	<div class="widget">
	<?php if ($this->state->nextlevel != "DETAIL"):?>
		<h4>Quick Links</h4>
		<?php if ($this->zipcode->cityfile != null):?>
		<a href="<?php echo Zend_Registry::get("url") ?>/<?php echo $this->state->statefile?>_homecare/<?php echo $this->zipcode->cityfile?>_city"><?php echo ucwords(strtolower($this->zipcode->city)) . ", " . $this->zipcode->state ?> City </a>
		<?php endif; ?>
		<?php if ($this->zipcode->countyfile != null):?>
		<a href="<?php echo Zend_Registry::get("url") ?>/<?php echo $this->state->statefile?>_homecare/<?php echo $this->zipcode->countyfile?>_county"><?php echo ucwords(strtolower($this->zipcode->county)) . ", " . $this->zipcode->state ?> County </a>
		<?php endif; ?>
		<a href="<?php echo Zend_Registry::get("url") ?>/<?php echo $this->state->statefile?>_homecare/allcities"><?php echo $this->state->state_name ?> City List</a>
		<a href="<?php echo Zend_Registry::get("url") ?>/<?php echo $this->state->statefile?>_homecare"><?php echo $this->state->state_name ?> County List</a> <br />
	<?php endif; ?>	
		<script type="text/javascript"><!--
		google_ad_client = "pub-8651736830870146";
		/* 160x600, wide skyscraper created 2/13/10 */
		google_ad_slot = "3476733769";
		google_ad_width = 160;
		google_ad_height = 600;
		//-->
		</script> 
		<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>
<div id="left">			
	<a href="<?php echo Zend_Registry::get("url") ?>/homecare">Home Daycare</a>  
		&gt;&gt; <a href="<?php echo Zend_Registry::get("url") ?>/<?php echo $this->state->statefile ?>_homecare"><?php echo $this->state->state_name?> Home Daycares</a> 
		&gt;&gt; Home Daycare in <?php echo ucwords(strtolower($this->zipcode->zipcode)) ?> 
	<div><h2>Home Daycares in Zip Code <?php echo $this->zipcode->zipcode ?> </h2></div>
	<p>We currently have <?php echo $this->zipcode->homebase_count ?> family day care providers in our Home Daycare database for ZIP code <?php echo $this->zipcode->zipcode ?>.  <br />
	<?php if ($this->zipcode->center_count > 0) :?>
		You may also want to check out <?php echo $this->zipcode->center_count ?> childcare centers in <a href="<?php echo Zend_Registry::get("url") ?>/<?php echo $this->state->statefile?>/<?php echo $this->zipcode->zipcode ?>_childcare">Zip Code <?php echo $this->zipcode->zipcode ?> Child Care Centers. </a>
	<?php endif;?>
	 </p>
 	<table>
 	<tr>
 		<td>
 		<?php if ($this->zipcode->lat <> null && $this->zipcode->lat <> 0): ?>
 			<div id="map_canvas" style="width: 300px; height: 280px"></div>
			<script type="text/javascript">
		    function initialize() {
		      if (GBrowserIsCompatible()) {
		        var map = new GMap2(document.getElementById("map_canvas"));
		        map.setCenter(new GLatLng(<?php echo $this->zipcode->lat ?>, <?php echo $this->zipcode->lng ?>), 13);
		        //map.setUIToDefault();
		        //map.addOverlay(new GMarker(map.getCenter()));
		      }
		    }
			initialize();
		    </script>
		<?php endif; ?>
 		</td>
 		<td>
		 	<script type="text/javascript"><!--
			google_ad_client = "pub-8651736830870146";
			/* 336x280, large rectangle home created 3/22/10 */
			google_ad_slot = "7816619502";
			google_ad_width = 336;
			google_ad_height = 280;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
 		</td>
 	</tr>
 	</table>
	<table width="100%">
	<tr>
		<td colspan="2">
		<?php if($this->current_page==2):?>
			<a href="/<?php echo $this->state->statefile . "_homecare/" . $this->zipcode->zipcode ?>_zipcode"> &lt; Previous Page </a>
		<?php elseif($this->current_page>2):?>
			<a href="/<?php echo $this->state->statefile . "_homecare/" . $this->zipcode->zipcode ?>_zipcode?page=<?php echo $this->current_page-1?>"> &lt; Previous Page </a>
		<?php endif?>
		</td>
		<td colspan="2" align="right">
		<?php if($this->nextpage==1):?>
			<a href="/<?php echo $this->state->statefile . "_homecare/" . $this->zipcode->zipcode ?>_zipcode?page=<?php echo $this->current_page+1?>">Next Page &gt;</a>
		<?php endif?>
		</td>
	</tr>
	<tr class="d<?php echo $i % 2; $i++; ?>">
		<th >Name</th>
		<th >Address</th>
		<th >Phone</th>
		<th >Capacity</th>
	</tr>
	<?php $i = 0; foreach ($this->providers as $provider): ?>
	<tr class="d<?php echo $i % 2; $i++; ?>">
		<td width="40%">
			<?php if($provider->approved==2):?>
				<a href="<?php echo Zend_Registry::get("url") ?>/provider_detail/<?php echo $provider->filename ?>"><?php echo $provider->name ?></a>
			<?php else: ?>
				<?php echo $provider->name ?>
			<?php endif; ?>
		</td>
		<td >
		<?php if($provider->address != "") :?>
			<?php echo ucwords(strtolower($provider->address))  ?> <br />
		<?php endif; ?>
			<?php echo ucwords(strtolower($provider->city)) . ", " . $provider->state . " " . $provider->zip ?>
		</td>
		<?php if($provider->area_code != "") :?>
		<td ><?php echo "(" .$provider->area_code . ") " .$provider->phone ?></td>
		<?php else: ?>
		<td ><?php echo $provider->phone ?></td>
		<?php endif; ?>					
		<td align="right">
			<?php if($provider->capacity > 0) :?>
				<?php echo $provider->capacity ?>
			<?php else: ?>
				N/A
			<?php endif;?>
		</td>
	</tr>
	<?php endforeach;?>
	</table>
	<div align="center">
		<?php if($this->current_page==2):?>
			<a href="/<?php echo $this->state->statefile . "_homecare/" . $this->zipcode->zipcode ?>_zipcode"> &lt; Previous Page </a>
		<?php elseif($this->current_page>2):?>
			<a href="/<?php echo $this->state->statefile . "_homecare/" . $this->zipcode->zipcode ?>_zipcode?page=<?php echo $this->current_page-1?>"> &lt; Previous Page </a>
		<?php endif?>
		<?php if($this->current_page>=2 && $this->nextpage ):?> | <?php endif; ?>
		<?php if($this->nextpage==1):?>
			<a href="/<?php echo $this->state->statefile . "_homecare/" . $this->zipcode->zipcode ?>_zipcode?page=<?php echo $this->current_page+1?>">Next Page &gt;</a>
		<?php endif?>
	</div>
</div>
</div>
