<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title><?php echo $this->siteTitle;?></title>

<!-- start: CSS -->

<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/admin/bootstrap.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/admin/bootstrap-responsive.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/admin/style.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/admin/style-responsive.css'); ?>

<!--[if lt IE 7 ]>
    <link id="ie-style" href="<?php echo $this->baseUrl().'/styles/admin/style-ie.css'; ?>" rel="stylesheet">
    <![endif]-->

<!--[if IE 8 ]>
    <link id="ie-style" href="<?php echo $this->baseUrl().'/styles/admin/style-ie.css'; ?>" rel="stylesheet">
    <![endif]-->

<!--[if IE 9 ]>
	<![endif]-->

<!-- end: CSS -->

<!-- start: Favicon -->
<link rel="shortcut icon" href="<?php echo USER_IMAGES_PATH;?>favicon.ico">
<!-- end: Favicon -->

<style type="text/css">
body {
	background: url(<?php echo USER_IMAGES_PATH;?>bg-login.jpg) !important;
}
</style>

<!--[if lt IE 9]>
    	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- start: JavaScript-->

<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery-1.9.1.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery-migrate-1.0.0.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery-ui-1.10.0.custom.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.ui.touch-punch.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/bootstrap.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.cookie.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/fullcalendar.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.dataTables.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/excanvas.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.flot.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.flot.pie.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.flot.stack.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.flot.resize.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.chosen.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.uniform.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.cleditor.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.noty.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.elfinder.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.raty.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.iphone.toggle.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.uploadify-3.1.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.gritter.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.imagesloaded.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.masonry.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.knob.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/jquery.sparkline.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/admin/custom.js'); ?>

<!-- end: JavaScript-->

<?php echo $this->headLink();?><?php echo $this->headScript();?>
</head>

<body>
<?php //if(isset($this->headerFile) && $this->headerFile != ''){include "header/".$this->headerFile; }?>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="row-fluid">
      <div class="login-box">
        <div class="icons"> <a href="<?php echo $this->url(array('controller'=>'index','action'=>'index','module'=>'default'), null, true);?>"><i class="icon-home"></i></a></div>
        <h2>Login to your account</h2>
        <!--<h1 id="title"><a href=""><?php echo $this->siteTitle;?></a></h1>-->
        <?php echo $this->layout()->content ?> 
        <!-- Login Box --> 
      </div>
      <!-- content ends here--> 
    </div>
  </div>
</div>
<?php //if(isset($this->footerFile) && $this->footerFile != ''){include "footer/".$this->footerFile; }?>
<?= $this->InlineScript();?>
</body>
</html>
