<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>

<title><?php echo $this->siteTitle;?></title>

<?php echo $this->headMeta(); ?>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/default.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/msg.css'); ?>

<style type="text/css"></style>

<!--bootstrap Javascript-->
<?php //$this->headScript()->appendFile($this->baseUrl().'/js/jquery-1.3.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/jquery-1.10.1.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/jquery-migrate-1.2.1.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/jquery.zend.jsonrpc.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/json2.js'); ?>

<!--jquery form validation-->
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/validation/validationEngine.jquery.css'); ?>
<!-- Jquery UI -->

<?php //$this->headLink()->appendStylesheet($this->baseUrl().'/jquery_ui/css/jquery-ui-1.8.21.custom.css'); ?>
<?php //$this->headScript()->appendFile($this->baseUrl().'/js/jquery.min.js'); ?>
<?php //$this->headScript()->appendFile($this->baseUrl().'/jquery_ui/js/jquery-ui-1.8.21.custom.min.js'); ?>

<!--jquery form validation-->
<?php $this->headScript()->appendFile($this->baseUrl().'/validation/jquery.validationEngine.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/validation/jquery.validationEngine-en.js'); ?>
<!-- Jquery UI -->

<?php //$this->headScript()->appendFile($this->baseUrl().'/js/common-ajax-functions.js'); ?>
<?php echo $this->headLink();?><?php echo $this->headScript();?>

<script type="text/javascript">

  var _gaq = _gaq || [];

  _gaq.push(['_setAccount', 'UA-11548587-20']);

  _gaq.push(['_trackPageview']);



  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();

</script>

</head>

<body>

<?php echo $this->InlineScript();?>

<div id="wrapper">

  <div id="header">
  
    <?php if(isset($this->frontHeader) && $this->frontHeader != ''){include "header/".$this->frontHeader; }?>
    
    <div class="clear"> </div>
 
  </div>
 
  <div id="content"> <?php echo $this->layout()->content; ?>
  
    <div class="clear"> </div>
 
  </div>
  
  <div id="footer">
   
    <?php if(isset($this->frontFooter) && $this->frontFooter != ''){include "footer/".$this->frontFooter; }?>
 
  </div>

</div>

</body>

</html>
