<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><?php echo $this->siteTitle;?></title>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/bootstrap.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/bootstrap-responsive.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/styles/msg.css'); ?>

<!--jquery form validation-->
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/validation/validationEngine.jquery.css'); ?>
<!-- Jquery UI -->
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/jquery_ui/css/jquery-ui-1.8.21.custom.css'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/jquery.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/jquery_ui/js/jquery-ui-1.8.21.custom.min.js'); ?>

<!--jquery form validation-->
<?php $this->headScript()->appendFile($this->baseUrl().'/validation/jquery.validationEngine.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/validation/jquery.validationEngine-en.js'); ?>
<!-- Jquery UI -->

<?php //$this->headScript()->appendFile($this->baseUrl().'/js/common-ajax-functions.js'); ?>
<?php echo $this->headLink();?><?php echo $this->headScript();?>
</head>
<body>
	
	<?php //if(isset($this->headerFile) && $this->headerFile != ''){include "header/".$this->headerFile; }?>
    
    <div id="login">
		<h1 id="title"><a href=""><?php echo $this->siteTitle;?></a></h1>
		  <div id="login-body" class="clearfix">    
	            <?php echo $this->layout()->content ?>  
          </div> <!-- Login Box -->
      </div> <!-- content ends here-->
              
    <?php //if(isset($this->footerFile) && $this->footerFile != ''){include "footer/".$this->footerFile; }?>	

<?= $this->InlineScript();?>
</body>
</html>
